[2019-08-31 21:00] tatianamac opened #1 "🖌️ Develop front-end pattern for dictionary definition"
Current pattern exists here:
https://codepen.io/tatianamac/pen/zYOqZRp

[2019-08-31 21:01] tatianamac opened #2 "🍑 Build backend API infrastructure"

[2019-10-19 22:15] alexwlchan opened #5 "Visual bug when first loading a page in Safari"
Safari 12.1.2, macOS 10.14.6. Spotted as of just now.

If I load https://selfdefined.netlify.com/#crazy at a window width of ~1220px, the left-hand column layout leaks into the right-hand column:

<img width="1338" alt="Screenshot 2019-10-19 at 23 12 18" src="https://user-images.githubusercontent.com/301220/67151959-0900bb00-f2c6-11e9-8239-339b02e4f4fa.png">

As soon as I change the width of the w

[2019-10-20 13:31] tatianamac commented on #5
Thank you, @alexwlchan !

Do you mind checking now to see if [my fix](https://github.com/tatianamac/selfdefined/commit/f2d317de147f81aac760ccfb437e8d3e8b289e97) worked for you?

[2019-10-20 13:38] alexwlchan commented on #5
Can't reproduce now, so I reckon this is fixed. Thanks!

[2019-10-20 13:38] #5 closed

[2019-10-20 14:19] tatianamac opened #6 "🔗 Determine URL/query approach"
**Goal:** Create a linking strategy where ```selfdefined.me/AsianAmerican+pan``` will render a page with a definition for Asian American and pan.

**Impact:** Users can self-identify via social bios, email signatures, etc.

**Considerations:**
- Strings should be human-readable, to some degree (similar to ```pronoun.is/they```), to pique curiousity.
- Some cap will have to be set on number of iden

[2019-10-20 23:15] tatianamac opened #11 "↪️ selfdefined.app won't redirect to www.selfdefined.app"
Currently using Netlify DNS with Porkbun as domain registrar. I expect both ```selfdefined.app``` and ```www.selfdefined.app``` to forward to ```selfdefined.netlify.com``` and only the latter does.

**Netlify Domain Settings**
<img width="893" alt="Netlify DNS settings with www.selfdefined.app set as default, selfdefined.app set as redirect" src="https://user-images.githubusercontent.com/7484549/6

[2019-10-20 23:42] tatianamac commented on #11
oop it just took time lol

[2019-10-20 23:42] #11 closed

[2019-10-20 23:53] #1 closed

[2019-10-21 00:30] tatianamac opened #12 "① Determine how to encode data structure"
Per @lynncyrin 's comment in the other issue:

[2019-10-21 00:31] tatianamac opened #13 "① Determine data structure itself"

[2019-10-21 00:33] tatianamac opened #14 "② Setup the build system for compiling the data structure into HTML"

[2019-10-21 01:52] good-idea commented on #14
If we use a static generator like Gatsby, the frontend wouldn't even need to use the API for the website :)

[2019-10-21 02:13] tatianamac commented on #14
I'm personally a fan of Eleventy (which has been installed, but its functionality has not been used) as it's less reliant on JS, which makes it intrinsically more accessible and performant.

I could be misunderstanding what you mean here, but the API isn't a dependency for the website so much as it is a future plan that we need to account for.

[2019-10-21 02:25] good-idea commented on #14
Yeah, we're on the same page here :)
As long as the whole dictionary is in the same repo, the builder wouldn't need to query any API.

If we were to do this ground-up with something like React, it would need to be fetching data from the browser. But, I agree that a static site is much better - I don't see any benefits of an SPA at this point. I think we'd only need to worry about linking up the si

[2019-10-21 18:18] good-idea commented on #14
Just had a thought - using a static site generator won't work for the personalized URL - it would need to generate a page for every possible combination of terms in the dictionary. As the dictionary grows, the build times will multiply. If there are 100 terms in the dictionary, and the limit is 3 terms in a url, i.e. `/AsianAmerican+pan+something`, that's roughly 1 million HTML pages.

The only ot

[2019-10-21 19:10] ovlb commented on #14
The latter version would also have the problem that we have a flash (or longer timeframe) of full content, and once the JS is parsed, the majority of the content would disappear. Plus the site we send initially might get huge pretty quickly.

If personalisation is desired, we will not be able to get around a more complex server-side solution.
We could maybe go a hybrid route. We render all known p

[2019-11-01 21:42] tatianamac commented on #14
(This conversation is getting out of my area of understanding, so can I entrust in you all to proceed?)

[2019-11-05 22:53] alexwlchan opened #21 "Word suggestion: womxn?"
I don't think I could write a definition for it, but it's a word I've seen used more frequently in the last year or so. (It's not a word I use myself, and I don't yet have a good grasp on how it's used. Geez, if only there was a dictionary of words or something…)

Do you think it's appropriate here?

[2019-11-05 23:39] ovlb commented on #14
Hey,

sorry for being a bit quiet. Recovering from much life (recently) and a cold (currently).

Given the increasing amounts of contributions, I would prioritise creating an alpha build process that makes it easier for people to add content without the need for them to edit the `index.html` file.

I will try to open a PR with an implementation, tightly coupled to the expressed need of an open con

[2019-11-05 23:57] tatianamac commented on #21
Yes, absolutely! Adn I know what oyu mean, so often I think "I wish I had a dictionary that...oh, that's why I'm doing this 😅

Could you please make a pull request and add it as a word in the list? I'll add it to my queue of words to define? (If you're not able/don't know how, that's okay! Here to help!)

[2019-11-06 00:01] monika opened #23 "Word Addition: Fatphobia"
There are several words and concepts that can be added to this project that are centered around fatphobia. They include (but aren't limited to):

- Fatphobia
- Fat shaming
- Overweight
- Obese

[2019-11-06 00:08] tatianamac commented on #23
Absolutely—thank you for suggesting these!

Are you able to add these as a pull requests? If you're not able, I'm happy to manually add them too once I close out the other pull requests.

[2019-11-06 00:11] monika commented on #23
I can add these for sure! If I'm not able to tonight, I can get a PR up tomorrow.

[2019-11-06 00:18] flitterbit commented on #23
@monika love this idea. but please remove the "victory hand" emoji from you're profile as it's a transphobic symbol: https://twitter.com/liatrisbian/status/1191729565539938304

[2019-11-06 00:27] monika commented on #23
Thanks for the heads up!

[2019-11-06 20:34] #21 closed

[2019-11-07 18:15] #23 closed

[2019-11-07 19:50] tatianamac opened #27 "🎨 Fix overflowing headline"
Headline overflows at below settings.

[<img width="572" alt="Screenshot of browser widths, linked." src="https://user-images.githubusercontent.com/7484549/68420770-e984e180-0151-11ea-9371-06ef806b2903.png">](https://mybrowser.fyi/report/5dc4625ac9614f0015298b92)

![Overflow issue](https://user-images.githubusercontent.com/7484549/68422319-d293be80-0154-11ea-8f71-9dc7872e674f.jpg)

[2019-11-07 19:57] tatianamac commented on #14
Thank you, @ovlb! That sounds great. Step-by-step is helpful as this phase feels particularly auspicious and large.

My colleague suggested keeping word/definitions mostly as issues (creating a template, which I will do), and then limiting the number of PRs to just core contributors, which feels like a way to lower the barrier to entry and to keep the codebase tighter/cleaner.

Tagging in @lkopacz

[2019-11-07 20:25] ovlb commented on #14
Communicating one entry point for new definition seems to make much sense, +1 for that. I’ve also thought about this for a bit. My idea was a form on the website which triggers new issues, opened by a bot (probably). That would take the «need a GitHub account barrier away». But broadening/channeling the means of participation is another issue/discussion, I think.

I will for now take the data we h

[2019-11-07 20:29] tatianamac commented on #14
Thank you, Oscar! Your plan sounds perfectly prudent! Generally speaking even with most PRs, I'm hoping they can be handled by Markdown or other more common markup language.

The more I think about it, it's better if most of the true codebase is maintained by fewer individuals.

I had installed Eleventy and that is my preference, but understand if it's not possible.

[2019-11-07 20:55] ovlb commented on #14
I will have look if we can replicate the data structure we have and need with Markdown and some Frontmatter. Seems like a very pragmatic approach for now. Accompanying it, Eleventy seems like a good choice. I heard it is pretty good at generating sites.

[2019-11-21 16:36] Klutch27 commented on #27
I have an initial solution, setting the word-wrap property to break-word. However, instead of overlapping, it breaks the word at the D. So instead of overlapping, depending on size of viewport, you'll see the following:

<img width="636" alt="Screen Shot 2019-11-21 at 11 35 35 AM" src="https://user-images.githubusercontent.com/49660740/69357425-12799c00-0c53-11ea-8e22-69760250c0d8.png">

Thoughts

[2019-11-22 12:26] ovlb opened #32 "Docs: Improve Contribution Guides"
With the merge of #31 we have some basic documentation on the website and in `contributing.md`. However, this needs to be fleshed out. The following points would need to be addressed:

- [ ] Preferred way of proposing/updating definitions is through issues.
- [ ] Add more examples to website docs
- [ ] Create issue templates ([docs here](https://help.github.com/en/github/building-a-strong-communit

[2019-11-22 12:35] ovlb opened #33 "Markdown: Add Emoji parsing"
The standard `markdown-it` parser that ships with Eleventy does not parse emojis, which can lead to accessibility issues.

The ideal outcome has been described by Léonie Watson in her article [Accessible emoji](https://tink.uk/accessible-emoji/).

There is an [existing plugin](https://github.com/markdown-it/markdown-it-emoji) for markdown-it which has no accessible output by default but allows you

[2019-11-27 00:06] tatianamac commented on #27
Thanks for your contribution, @Klutch27 !

Breaking by word would be a good idea for instances where the words are aesthetic only (say, we wanted to have `abcdef...wxyz...` as a visual thing and wanted it to break accordingly. However, since this is a word, an an important one (as it's the title), we should probably try to rely on responsive fonts.

I'd propose investigation a solution that involv

[2019-11-27 14:52] Shimmoril commented on #27
Another data point for the header overflow:
![image](https://user-images.githubusercontent.com/45545594/69733378-dc289a80-10f2-11ea-998f-daf3fcf8446b.png)

![image](https://user-images.githubusercontent.com/45545594/69733422-ec407a00-10f2-11ea-8052-9e18418f0d5c.png)
Specific version is 70.0.1.

[2019-11-27 15:54] shimmoril opened #35 "Add fatmisia (and other "-misia" alternatives?) as an addition/alternative to fatphobia"
This [article from the Simmons University Library](https://simmons.libguides.com/anti-oppression#s-lib-ctab-10174165-1) is a great introduction to the differences and distinctions between the "-phobia" and "-misia" suffixes.

As noted in the Simmons article, the use of "-phobia" equates bigotry with mental health issues, and similar to other definitions in Self-Defined, it can also leave room for

[2019-12-03 21:42] tatianamac commented on #27
Additionally, @Klutch27 , here is another resource!

https://codepen.io/MadeByMike/pen/YPJJYv

[2020-01-14 15:09] laurakalbag commented on #27
I wonder if using `vw` rather than `vh` for the font-size unit might give you greater ability to calculate according to the width of the columns?

I’m curious to know the design intention here, to work out how we can do it justice in code. Is it to have as big and impactful a header as possible, which splits across two lines if necessary, but is still sympathetic to a small viewport?

[2020-01-14 19:47] tatianamac commented on #27
Your read on the design intention is 100% correct! When the luxury of it spanning 2 columns is possible, I'd like it to do that; but when not (narrower viewports), I'd like it to be impactful but not offensively so.

[2020-01-14 20:26] laurakalbag commented on #32
I’d love to request (I’d be happy to do this once I’ve managed to get it working for myself!)

- [ ] Quickstart guide for people setting up the dev environment for themselves.

[2020-01-14 20:34] ovlb commented on #32
@laurakalbag

That’s a very good point! Where are you stuck? Have you seen this (very rudimentary) page? https://www.selfdefined.app/documentation/development/

[2020-01-15 06:37] denistsoi opened #37 "Chore: clean dir by removing node_modules from master"
Hi all, really appreciated the work that @ovlb provided in PR #31.

I've cleaned the `master` branch by deleting the `node_modules` directory.

Edit: Creating an issue so I can connect a PR

[2020-01-15 09:11] laurakalbag commented on #32
@ovlb thank you! Sorry, I’d completely missed this page. I think it’s a great start, for one because it completely answers why I was getting wonky output (I was running the default 11ty command.)

Maybe we should add a link to this guide under a ‘Development’ heading on the readme?

[2020-01-15 12:02] laurakalbag opened #39 "HTML: Consider replacing <section>s with <article>s"
[Bruce Lawson wrote a very insightful article about the usefulness of `<article>` over `<section>`](https://www.smashingmagazine.com/2020/01/html5-article-section/). Key points:

1. `<section>` communicates no semantic value for assistive technologies (whereas `<article>` does.
2. Apple’s Reader mode ignores content displayed in `<section>` in favour of content displayed in `<article>` (you can se

[2020-01-15 14:50] laurakalbag opened #41 "🎨 Fix red flag splitting across two lines"
<img width="300" alt="Screenshot 2020-01-15 at 14 47 06" src="https://user-images.githubusercontent.com/266663/72443468-36b2ae80-37a6-11ea-866a-f631eb28ea54.png">

Depending on the column flow, flags are occasionally split across two lines of text. More often it happens with longer words and longer flags.

[2020-01-15 14:51] ovlb commented on #39
Thanks for this, Laura! The semantics/page structure is a bit messy, having another person look into it is much appreciated.

Some quick feedback:

I think we might be able to get rid of some `<section>`s altogether. E.g. the definition list is a `nav` that is wrapped in a totally useless section. Where a `section` is appropriate, we should `aria-label` or (probably better because it is auto-trans

[2020-01-15 14:53] laurakalbag commented on #27
I felt a bit bad for hogging the only good first issue, so I opened another issue that might be a candidate for good first issue: #41.

[2020-01-15 15:01] laurakalbag commented on #39
I can only see one instance of a `<section>` with an `aria-label` attribute, and that’s for Definitions. Would it be sensible to just expose that text in a heading? Then we don’t have to worry about translation issues either…

With you on that. I’m a big fan of avoiding `<div>`s as much as possible. However, it seems that (right now, at least) using `<section>` is really only valuable for develope

[2020-01-16 10:39] ovlb commented on #39
I put together a [quick demo](https://playground.owlish.dev/labelled-sections/) to test this question, and it seems like:

- iOS VoiceOver with Safari adds only the labelled elements to the landmarks menu
- NVDA with IE11 does only recognise divs/sections with `role="region"` set
- NVDA with EdgeHTML/EdgeChromium/Firefox recognises only the labelled elements

Unfortunately, NVDA announces label _a

[2020-01-17 08:05] ovlb commented on #14
@tatianamac I think we can close this?

[2020-01-18 14:01] codeAbul commented on #27
@tatianamac is anyone currently working on this? If not , I can work on creating a more fluid typographic scale

[2020-01-18 23:14] tatianamac commented on #27
You're welcome to—sometimes for first issues it's nice to invite first-time contributors since contributing to OSS can be intimidating. If you wanted to help @Klutch27 with it, that'd be awesome!

[2020-01-18 23:20] #37 closed

[2020-01-18 23:25] #14 closed

[2020-01-19 01:02] codeAbul commented on #27
Yes of course. Hi @Klutch27 please feel free to message me if you need someone to work out your solution with. I'd be happy to. Cheers

[2020-01-19 01:05] tatianamac commented on #27
Also I think I may need to close this issue as @laurakalbag may have worked it out already with #40.

I'll open a new ticket to develop a more fluid type system and tag you both, @codeAbul and @Klutch27.

[2020-01-19 01:05] #27 closed

[2020-01-19 01:07] tatianamac opened #47 "🔡 Develop more fluid type system"
Current type system does not necessarily scale well. Intentionally developing a system that does upon the current typography would be great!

[2020-01-19 01:08] tatianamac commented on #47
@codeAbul and @Klutch27, this might be a good one to collaborate on together as I think Gareth is looking to learn and work on their first issue. 💙

[2020-01-20 10:55] codeAbul opened #48 "Use axe-core to set up automated accessibility testing"
I think axe-core( https://github.com/dequelabs/axe-core ) is a lovely little tool we could incorporate into our dev workflow to catch any accessibility violations at the earliest. Would love to hear thoughts on this

[2020-02-06 03:43] alexiswatson opened #51 "Proposed change to definition of polyamory"
First, this project is rad.   :>

As someone who has practiced polyamory and other forms of ethical non-monogamy, I'd propose a change to polyamory's definition:

While there are absolutely plenty of ways to practice polyamory, the greater umbrella term I've seen used most often is "ethical non-monogamy." In my experience, one of the stigmas polyamorous people face is that it's perceived as "just

[2020-02-06 09:32] ovlb opened #52 "🔗 Expand Interlinking Between Definitions"
We could consider adding more data-driven links between definitions than just the alternative words we have currently.

The current state is on one-way. Define an alt-word, and it will be linked if it is defined. We can further add inbound links. Example: crazy links to unreal. We could add a «words that link here» (or similar) section inside the definition body of «unreal».

Another easily solvab

[2020-02-06 09:36] ovlb opened #53 "📄 Add Detail Pages for Definitions"
As the site grows, the homepage gets more and more crowded and impossible to scan. I think we should link to detail pages for single definitions (e.g. `/definitions/crazy` instead of `#crazy`).

Edit: I keep track of this issue and update the to-do list in #75. So have a look there for the current status

[2020-02-06 09:38] ovlb commented on #52
One use case I forgot: Having better alternatives say something like «better alternative for minorities». It’s actually considered in the flag definition already but not used during rendering, see docs: https://www.selfdefined.app/documentation/front-matter/#flag

[2020-02-06 22:47] dengeist opened #55 "Build script places output CSS in `assets` folder"
**Reproduction steps:**
1. Clone the `selfdefined` repo.
2. Install its dependencies (`npm install`).
3. Execute `npm run build`

**Expected behavior:**
The CSS, along with the other production files, is compiled into the `dist` directory, where it can be ignored by the developer's version control.
<img width="225" alt="Screen Shot 2020-02-06 at 2 46 32 PM" src="https://user-images.githubuserconte

[2020-02-06 22:47] dengeist opened #56 "_site folder is extraneous"
Because this project now outputs to `/dist`, the `_site` directory can be deleted. I double-checked and there appears to be no reference to `_site` in the code base; its use is overridden by `.eleventyconfig.js`

[2020-02-06 23:06] ovlb commented on #55
Yip. 🙈  Thanks for putting this on my radar.

I will open a PR tomorrow to clean up folder structure and build output asap (also addressing #56).

[2020-02-07 17:33] dengeist opened #59 "Proposal: use a custom focus indicator"
## Problem
The default focus indicators provided by some browsers and operating systems are inaccessible to many users. The below screenshot of selfdefined illustrates the default focus indicator in Firefox: a thin, dotted outline.
<img width="215" alt="" src="https://user-images.githubusercontent.com/13525251/74050964-eafdba00-498b-11ea-9a66-be2c61a827ef.png">
## Solution
Use the `:focus` pseudoc

[2020-02-07 21:33] #55 closed

[2020-02-07 21:33] #56 closed

[2020-02-07 21:53] tatianamac commented on #59
Thanks for this, @dengeist ! I'm appending a label of good first issue here as I think it could be a good start for a new front end dev. 💙

[2020-02-07 21:58] tatianamac commented on #51
@alexiswatson This is a super good point. I have proposed a longer, hopefully more nuanced definition based on your feedback for discussion.

Also, before I put it on blast, I was curious if it would be helpful for me to post this on Self-Defined's Twitter (which I would RT from my personal account) to elicit more opinions from folks from the community.

Of immediate priority for me is to get a co

[2020-02-07 22:12] dengeist opened #60 "Word definition links need focus management"
## Problem
Clicking on a definition scrolls the user to that definition, but:
- Keyboard focus remains on that link, which could confuse keyboard users and especially screen-reader users
- Because multiple definitions appear close together, it is not always obvious where a sighted user's attention should go
## Proposed solution
- Use tabindex and javascript to move focus to the heading where a wor

[2020-02-07 22:31] dengeist opened #61 "Documentation link appears in DOM several times, sometimes empty"
Just what it says on the title. I would mark this one down to templating weirdness.
<img width="373" alt="Screen Shot 2020-02-07 at 2 24 27 PM" src="https://user-images.githubusercontent.com/13525251/74070487-07165100-49b6-11ea-998a-9f72941c0a4f.png">

This screenshot shows the Firefox dev tools inspecting part of the footer. The documentation link appears 4 times, but only the first occurrence of

[2020-02-07 22:50] dengeist opened #62 "Red color used in "avoid" warnings needs starker contrast"
## The problem
The text color of all "avoid" warnings falls below the recommended text contrast threshold.
<img width="281" alt="Screen Shot 2020-02-07 at 2 45 11 PM" src="https://user-images.githubusercontent.com/13525251/74071434-af2d1980-49b8-11ea-9eab-b501947f3544.png">

This screenshot shows the "Minorities" noun on selfdefined, as well as the red "avoid" warning above.

## Proposed solution

[2020-02-07 23:35] tatianamac commented on #32
@laurakalbag I think that'd be a really helpful addition. What do you think @ovlb ?

[2020-02-08 09:28] ovlb commented on #60
Thanks for all your refinements, EJ.

I would propose to solve this issue by implementing #53 to make the pages easier to scan in the first place.

[2020-02-08 10:08] dengeist commented on #60
I like the idea of #53! Decluttering the main page could help from a cognitive standpoint as well.

[2020-02-09 15:49] alexiswatson commented on #51
@tatianamac The rework you propose is amazing, thank you!

I think opening this up to broader good-faith discussion is a fantastic idea, though I'm 100% on board with ensuring a code of conduct is in place, first.

Not sure if you have a direction in mind for the CoC, though if you'd like to link that issue as a blocker here when the time comes, I'd be happy to contribute an extra set of eyes if y

[2020-02-12 05:14] #59 closed

[2020-02-12 05:17] tatianamac opened #67 "⚒️ Add Sass function to convert px to rem"
Add a Sass function to convert `px` to `rem`, so that contributers can still reference/use `px` but with the responsiveness of `rems`

Guide article:
https://css-tricks.com/snippets/sass/px-to-em-functions/

[2020-02-12 05:30] #62 closed

[2020-02-12 05:32] #61 closed

[2020-02-12 05:53] tatianamac commented on #53
Agree with this change for sure! It was always the hope that the site would grow. 🤗 _(tries not to get weird and emo)_

We should be mindful though of future linking strategies when coming up with the canonical link. For example, one hope is to be able to concatenate terms so someone can theoretically link to serve up a page that shows all the terms they identify as:

`?queer+disabled+wheelchair-u

[2020-02-12 06:07] tatianamac commented on #51
Awesome. Are you able to make a pull request with the proposed changes?

I will in the meantime open an issue for a code of conduct

[2020-02-12 06:11] tatianamac opened #68 "✍️ Add code of conduct"
Add code of conduct language to site. Eventually I would like to adjust/customise given the uniqueness of this project, but we need something in place immediately given the sensitivity of the discussions we have.

[Contributor Covenant](https://www.contributor-covenant.org/) I think is a good place to start

[2020-02-12 06:34] ovlb commented on #68
+1 for Contributor Covenant.

[2020-02-12 06:47] ovlb commented on #53
Yip. The combined pages are definitely a part of it. I think they might even become simpler once we have these detail pages, as we can already start defining a layout :)

My reasoning for `/definitions/word` is that the homepage might change in the future and become more of an overview introducing the whole project with its bots, API and so forth. By having an URL scope for the definitions we avoi

[2020-02-12 07:30] tatianamac commented on #48
@ovlb @dengeist I would love to hear your thoughts on this specifically!

[2020-02-12 07:41] tatianamac commented on #53
Yes, awesome, I'm so glad you're such a holistic thinker! 🤗

Also I should add that we need to create redirects as there are some links out in the world already for `/#word`. Should I open up a new issue for this?

[2020-02-12 07:52] ovlb commented on #53
I think that’s an acceptance criteria for closing this issue.

I’ll add a to-do list to the OP asap to make the scope of this issue clearer. :)

[2020-02-12 08:36] tatianamac commented on #68
I updated the [README](https://github.com/tatianamac/selfdefined/blob/master/README.md) and am closing this issue.

[2020-02-12 08:36] #68 closed

[2020-02-12 08:48] ovlb commented on #68
@tatianamac I think it is considered best practice to have a full copy of the CoC as `CODE_OF_CONDUCT.md` in the root of the repo. The copy of CoC gives contact information specific to the project.

See as an example Tournant UI (shameless plug): https://github.com/tournantdev/ui/blob/master/CODE_OF_CONDUCT.md

[2020-02-12 09:16] tatianamac commented on #68
doh, ofc. I'm such a spacecase. Modified it a bit to include some dictionary-specific language; will revisit in the future for more nuance. Uploaded now! 💙

[2020-02-12 11:44] ovlb commented on #53
@tatianamac I’ve added a to-do list. Anything else that comes to mind?

[2020-02-12 14:17] outoftardis commented on #32
It's about README, but I think it's related to this issue as it's also about contributing:

- [ ] The link to the code of conduct in README does not work
- [ ] I agree with @laurakalbag that you need a link to your documentation from README, but I'd suggest you add the most useful links right under the title. It could look something like: Documentation | Contributing Guide | ....

I can work on th

[2020-02-13 07:26] tatianamac commented on #32
Thank you, @outoftardis! As it was already accessible to me, I went ahead and made your suggested updates to the README.

[2020-02-13 09:15] ovlb commented on #48
I would be careful to say «any violations» as automatic testing can only find a subset of violations/problems with the accessibility of a site. Besides from nitpicking though, I think it makes sense to build up a testing/linting infrastructure, and axe should be a part of it.

[2020-02-13 09:16] tatianamac commented on #53
Looks good!

What is the intention of next/last links? Do they link to the next and previous words alphabetically? I worry a bit about what we mean by this when we consider sub-terms would theoretically appear twice in the full list, if that makes sense.

(For example, `cis` appears both under C (cis) and G (cisgender).)

[2020-02-13 09:22] ovlb commented on #53
I thought it is a nice touch for the page, to encourage browsing around. Probably have thought about it because I like the game «open a dictionary and read whatever words show up so much». The Duden (german dictionary) has a similar feature at the bottom of their definition pages: https://www.duden.de/rechtschreibung/Geviert

Random feature idea: A «Show me a random definition»-button on the homep

[2020-02-13 09:27] ovlb commented on #53
One solution for the sub-terms might be to include only the main term «gender» while somewhere around «ge» and cisgender while browsing around «ci». In any way, _cisgender_ will be shown in the sub-terms of gender on the detail page of _gender._

[2020-02-13 09:39] dengeist commented on #48
Agreed! Linting is mainly here to help us catch the low-hanging fruit, but that's fine; getting it in place will allow us to better claim responsibility for the rest of the app's accessibility.

[2020-02-13 15:04] Tagada85 opened #70 "Can we propose translations to existing definitions?"
Hello!
I am learning a lot of things with self defined, even if the definitions are not in my native language, French. I was wondering if it was possible to propose translations for the existing definitions? In my case, I would be glad to help for the French ones.

I assume you would need several people speaking French (in this case) to review each proposed translation. Is it something that could

[2020-02-14 05:44] hibaymj commented on #52
I think #72 takes care of a lot of this foundation from the API and data model perspective.

[2020-02-14 05:48] hibaymj commented on #70
Whoa! I was pretty sure I was off in left field when I put it in the API spec. I can't speak to the dictionary itself, but I did at that to the API design.

[2020-02-15 09:53] tatianamac commented on #48
Great, thank you, @dengeist and @ovlb . I'm going to add a separate issue that includes "Set up testing/linting infrastructure/workflow."

[2020-02-15 09:54] tatianamac opened #74 "⚒️ Set up testing/linting infrastructure/workflow"
Ensure considers accessibility per #48.

@ovlb Could you please add any considerations here since you have a stronger sense of what should be done here?

[2020-02-15 10:18] #32 closed

[2020-02-15 10:42] tatianamac commented on #53
I think this a good solution for right now. I have a feeling I'm missing some edge cases right now

[2020-02-15 11:52] tatianamac commented on #70
Yes! @Tagada85 ! I've had a couple of people propose offering translation for the dictionary—this is awesome to hear!

Needs:
- **Find designated French editor/reviewer(s),** as you mentioned. As of right now, I fulfill this role for English definitions. I would want someone who could do this ongoing to keep the French translations consistent.
- **Determine how languages impacts current definition

[2020-02-15 12:25] Tagada85 commented on #70
Great! I'll take a look at some definitions I might find *easier* to translate. Do you have any tips or advice to make sure I don't change in any way the sense of the definition?

I'm not quite sure how to phrase that question. Are there any resources that you use when constructing a definition in English? Something to help you grasp the actual meaning of words and that could guide me towards the

[2020-02-15 17:45] ovlb commented on #53
There will be edge cases :D We will fix them once they poke us too hard.

[2020-02-16 04:05] codeAbul commented on #48
@tatianamac @ovlb @dengeist thanks for the feedback! Yes @ovlb automated accessibility testing is only the first step and definitely a good starting point!

[2020-02-16 20:58] sophieschoice commented on #70
Following this discussion, since I talked with Tatiana about translating into Dutch :)

[2020-02-16 21:25] ovlb commented on #74
Sure. This list is considering future developments of the site, so some things might seem overkill right now. They will save us from grinding teeth and loss of hair later, though.

## Tools to be integrated

- [ ] ESLint
- [x] Prettier
- [ ] Stylelint
- [x] Editorconfig
- [ ] axe
- [ ] Unit Testing (personal preference is Jest or ava)
- [ ] Codecov (or a similar tool for collecting test coverage)

[2020-02-16 21:34] greatislander commented on #74
@tatianamac @ovlb I've been working with husky/lint-staged/etc a lot lately to handle linting on commit, as well as setting up corresponding GitHub CI. Would be happy to start on this.

[2020-02-16 22:08] ovlb commented on #74
@greatislander Please go ahead :) Shall I add a basic ESLint config, so that your workflow has something to test against or would you do this too?

[2020-02-16 22:37] greatislander commented on #74
That would be great, @olvb!

[2020-02-16 23:15] ovlb commented on #74
@greatislander I’ve opened #78 for linting and testing. Once this is merged you can go ahead with the CI :)

[2020-02-17 02:40] codeAbul commented on #74
@ovlb Once CI system is set up, I can work on setting up axe!

[2020-02-17 06:29] ovlb commented on #74
Great!

[2020-02-18 05:24] #67 closed

[2020-02-18 19:35] alexiswatson commented on #51
Gladly—feel free to ping if there's anything I can lend a hand with.

[2020-02-19 05:55] tatianamac commented on #70
For terms already defined in English, I think that it makes the most sense to try to capture the general meaning rather than translating word for word. I recognise as a multi-lingual person that it's more important to capture the spirit of the definition than same definition verbatim.

Typically I try to read quite a few definitions _and_ articles before starting to write a definition.

Often, I'l

[2020-02-19 05:57] tatianamac opened #82 "✍️ Write"

[2020-02-19 05:59] tatianamac commented on #82
Use #70 for context.

- [ ] Share common resources
- [ ] Itemise different definition components (Avoid/Use Instead, etc) more fully
- [ ] Give do's and don't's

[2020-02-19 07:13] tatianamac commented on #51
Closed with #80 . Thank you, @alexiswatson !

[2020-02-19 07:13] #51 closed

[2020-02-19 07:37] ovlb commented on #74
@greatislander #78 is merged. :)

[2020-02-19 07:37] tatianamac commented on #35
@shimmoril (I accidentally never wrote you back on this!) Thank you so much for sharing this! Would you have interest in submitting a PR with a definition for this?

No worries if not, but wanted to ask!

[2020-02-19 07:39] ovlb commented on #82
Shall this also include a style guide? I noticed that the quotes used aren’t uniform at all. I wrote a toll once that might be able to help us style them during render without having to nitpick in PRs: [Typographizer JS](https://github.com/ovlb/typographizer-js) (Haven’t really tested this in production anywhere, though 🙈)

[2020-02-19 09:53] tatianamac commented on #82
Yes, absolutely would include how to properly cite/quote (which will involve a "twin" frontend styling convention, which I love the idea of using Typographizer JS 🤓). Added as bullet point above.

[2020-02-19 10:25] tatianamac opened #84 "✍️ Re-write/re-conceive "Ways to help" section"
### Current

### Ideal
- [ ] Remove DM prompt.
- [ ] Link to readme/documentation
- [ ] Link to issues
- [ ] Generic way to contact
- [ ] Link to Open Collective or GitHub Sponsors.

[2020-02-19 11:00] sophieschoice commented on #70
Excellent!

I will make pull request (PR) to get started with Dutch when I have translated a couple of terms :)

[2020-02-19 11:12] tatianamac commented on #70
@sophieschoice , you may find @Tagada85 's [PR for French translations](https://github.com/tatianamac/selfdefined/pull/81) helpful? Perhaps you could set it up similarly.

Also, it'd be awesome if you know someone who speaks Dutch who might be able to act as your peer reviewer in my stead?

If not, no worries at all, I can ask on Twitter. 🤗

[2020-02-19 11:27] sophieschoice commented on #70
Sounds like a good guidance! I will try to do it similarly, existing github-skills permitting :P

And I will ask around for a peer reviewer in my network!

[2020-02-19 12:05] #70 closed

[2020-02-19 12:07] tatianamac commented on #70
Closing this as the question has been answered.

Translations are accounted for in API spec in #72.
New PR #81 for French.
Future issue to be opened for Dutch.
New issue #82 for documentation on how to write definitions.

[2020-02-19 15:05] greatislander commented on #74
@ovlb @tatianamac I am happy to scaffold a Stylelint configuration as well. Do you have any preferences? I typically use the recommended rules with [stylelint-order](https://github.com/hudochenkov/stylelint-order) and [`properties-alphabetical-order`](https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-alphabetical-order/README.md) set to `true` but let me know your thought

[2020-02-20 00:08] shimmoril commented on #35
Any other time I’d love to, but I’m afraid I just don’t have the spoons right now. Appreciate you checking in with me, and I’ll keep an eye on Self-Defined for other opportunities to contribute.

Ashleigh Lodge

[2020-02-20 21:59] thomplinds opened #86 "Definition for how to refer to pronouns"
Found an instance of `Preferred Pronouns` in my application which I knew was incorrect as it implies gender is merely a preference. Would like a reference in selfdefinedapp that explains how to appropriately discuss pronoun usage.

https://twitter.com/TatianaTMac/status/1230611632352456704?s=20

(fwiw I'm happy to submit the PR for this just feel uneducated on the topic myself, doing more research

[2020-02-24 02:17] michaelspellacy commented on #41
Hi @tatianamac. Busy week. Will swing back round to this tomorrow.

[2020-02-24 19:03] tatianamac commented on #74
Thanks for your patience—just flew back from Australia. I am good with those. @ovlb, what're your preferences?

[2020-02-26 12:37] codeAbul commented on #47
@tatianamac just dropping by to say i have been working on this. A bit delayed due to other issues
Also pending time designing easy to consume mixins and functions for future devigners( deselopers?). I am aiming for a PR by next week *fingers crossed*

[2020-02-26 20:23] tatianamac commented on #47
Awesome, sounds good! Thanks for all your work on this.

I love the idea of creating some solid `mixins` and `functions`!

[2020-03-05 18:17] #48 closed

[2020-03-05 18:26] greatislander commented on #48
@tatianamac I think this actually needs to be re-opened as @codeAbul was going to tackle it once the other CI had been set up.

[2020-03-05 18:31] ovlb commented on #48
We #74 to keep track of the single parts, so maybe having this closed gets rid of some duplication.

[2020-03-05 18:33] ovlb commented on #74
@codeAbul Do you still want to set up axe? CI is ready now.

[2020-03-07 18:45] tatianamac commented on #74
Also, I imagine we should add some notes to our documentation? I can add it as a separate issue if we agree (once we're done).

[2020-03-07 18:54] greatislander commented on #74
@tatianamac That makes sense! Happy to add documentation for the configuration I added.

[2020-03-07 19:06] ovlb commented on #74
Much appreciated. Maybe by expanding this document? https://github.com/tatianamac/selfdefined/blob/master/11ty/documentation/development.md

[2020-03-08 05:25] vaibhavvikas commented on #86
Your tweet can't be accessed. It's gonna be better if you make it public.

[2020-03-08 19:50] #41 closed

[2020-03-09 16:36] thomplinds commented on #86
With @tatianamac 's permission I can add screenshots from the conversation, she locked her twitter account and I don't want to add them without a go ahead from her.

[2020-03-09 18:25] tatianamac commented on #86
You’re welcome to paste the screenshots/live text (for accessibility).

I had to lock down my account due to harassment, so I won’t be unlocking it for w bit at least.

[2020-03-09 22:47] #53 closed

[2020-03-09 22:47] #60 closed

[2020-03-10 18:55] greatislander opened #95 "💡 Idea: set up Netlify Open Authoring for easier contributions"
### Idea Summary

Netlify CMS allow users to create pull requests via the Netlify CMS interface. See: https://www.netlifycms.org/docs/open-authoring/

I think in terms of facilitating contributions from users who are less technically-savvy, this could be great! You log in with a GitHub account, use a CMS interface to create your definition, and then when you submit it for review, Netlify CMS opens

[2020-03-10 20:53] ovlb commented on #95
Interesting! I had only a brief stint with Netlify CMS some months ago. Do you know how it could handle our, rather involved, Front Matter requirements? I think it can handle most of it but am not sure about the lists (further read, alt words) mostly.

While we wouldn’t have solved the «needs GitHub account» blocker, I feel that this could be a step in the right direction.

[2020-03-10 20:56] greatislander commented on #95
@ovlb I've used the front matter with lists on other Eleventy projects, so it's definitely doable. I think it would take some setup to properly support all the metadata, but could work really well once done. I was prompted to open this ticket after looking at #88, when I realized that it also requires a GitHub account. The nice thing about Netlify Open Authoring is that while it does require the a

[2020-03-11 16:11] ovlb commented on #95
@greatislander Yeah, having a UI that’s made for content editing could be a real win.

I marked this as «Needs info» as I think it makes sense to split the requirements into some smaller tasks to see what is really needed.

Do you know of a project that already uses Open Authoring that we could fork to get a better understanding of the tool without having to set up everything ourselves? I know [Hy

[2020-03-11 16:14] greatislander commented on #95
@ovlb As far as I know, Hylia uses Netlify CMS but not Open Authoring? I could create a test project so we can experiment with Open Authoring functionality, and also work on a PR to try out Netlify CMS with the definitions.

[2020-03-11 16:21] ovlb commented on #95
Sounds great. But let’s wait for word from @tatianamac before we storm ahead :)

[2020-03-11 19:09] tatianamac commented on #95
@greatislander I love this idea as it contributes to the core idea of limiting barriers to entry. I would love the idea of testing it out on our own new test project that has similar structure to see what the interface is like.

I think it's a good thing that creating an account is necessary; I would hate to reduce good friction for trolling/spamming given the sensitive nature of the dictionary.

[2020-03-11 19:10] greatislander commented on #95
@tatianamac I would be delighted! I can create a repo on my own account and invite both of you as collaborators to do some simple testing. Probably won't get to it until the end of the week but I'll keep you posted.

[2020-03-11 19:12] tatianamac commented on #39
@ovlb Do you have final closing thoughts on this issue? I'd like to either be able to resolve either way?

[2020-03-11 19:14] tatianamac commented on #74
As @codeAbul needs to step away from the aXe portion, @greatislander or @ovlb are either one of you able to take on setting that up? Otherwise I'm happy to recruit other folks if you're not able.

[2020-03-11 19:15] greatislander commented on #74
@tatianamac I can take a crack at it.

[2020-03-11 19:26] tatianamac opened #96 "🌐 Determine how to show translated languages"
## Challenge
As we've started to translate definitions into languages other than English, I'd like to make sure we're considering how to to show them both from a data management and design perspective.

## Technical Considerations
- Translations will be spotty as they're done on an ad hoc basis. So, some words will have translations in some languages and not others.
- Full-site language switching

[2020-03-11 20:28] ovlb commented on #95
No hurry. Thanks for all your effort and enthusiasm :)

[2020-03-17 22:13] #84 closed

[2020-03-19 19:11] dengeist opened #97 "Load fonts progressively"
Problem
---
Right now, the Typekit font bundle significantly slows page-load times. In limited local testing, it adds >1 second to load time on a simulated "average" 3G connection. This number increases significantly on lower-quality simulated connections, leading to average load times >5 seconds on "regular 2G" simulations.

Since a significant number of users browse the web on their phones, we s

[2020-03-19 19:40] tatianamac commented on #97
Thanks, @dengeist ! Sounds good.

I'm also wondering if as a multi-fold approach we can also upload/locally load the fonts as well and `font-display: swap` as well.

[2020-03-19 19:50] dengeist commented on #97
This crossed my mind as well! All current browsers but IE 11 support the `font-display` property (source: [caniuse](https://caniuse.com/#feat=css-font-rendering-controls)), so we would have pretty good coverage if we moved to local font files. Additionally, hosting the fonts ourselves would cut out any reliance on TypeKit's servers. We might even get a bit of a site performance boost since we'd be

[2020-03-19 20:06] tatianamac commented on #97
Perfect! Would you be able to make those adjustments if I got you all the `woffs`? I haven't interacted with Typekit in a moment, but I *believe* that's all possible. Otherwise I will figure something out as a substitute.

Also when you say lazy-loading here do you mean preloading? (Or am I confuse?)

[2020-03-19 20:15] dengeist commented on #97
I would be able to implement this if you got all the raw `.woff` files, yeah! If you can't, using `rel="preload"` and ensuring support for it should be a serviceable alternative!

(yes, by "lazy-loading", I do mean "preloading" here. preloading is lazy-loading in the context of CSS files.)

[2020-03-20 20:26] dengeist opened #100 "Rewrite Self-Defined docs"
## Challenge
I think Self-Defined's docs would benefit from both a content and structure overall. We have an opportunity to make navigating them more intuitive, and to use them to cover a broader base of knowledge.

## Goals
I am 100% open to collaboration on the matter of what, exactly, is in scope for this project. Some ideas:
- Write a page dedicated to helping the reader set up their local dev

[2020-03-20 20:26] dengeist commented on #100
I absolutely LOVE that this is ticket number 100. So many parts of me are happy right now.

[2020-03-21 01:57] dengeist opened #102 "Firefox: Focus outline obscures text when link wraps multiple lines"
## Problem
The following screenshots show a link reading "Obsessive Compulsive Disorder (OCD)" as seen on the Self-Defined website, with the site's red custom focus drawn around it.

**In Firefox**, the outline is drawn around _each line_ of the wrapped text, making the text hard to read.
<img width="279" alt="Word_Wrap_Focus_FF" src="https://user-images.githubusercontent.com/13525251/77216860-099

[2020-03-21 02:18] dengeist opened #103 "Improve site navigability"
## Problem
- Self-Defined sometimes builds page titles in ways that don't accurately reflect the user's path through the site.
- There's no obvious breadcrumb path on the page as the user navigates the site.

## Example
When the user interacts with the `Documentation` link, they're taken to a page whose title reads: `"Docs « Documentation « Self-Defined"`. Because this title has three segments, us

[2020-03-26 16:27] rickhanlonii opened #104 "Word suggestion: Sane"
## Overview

It's common for people to use "sane" as a ableist slur as in "this is a sane pull request" or "our tests provide a sanity check". These usages imply that being sane is good and being neurodiverse is bad or a failure.

Submitting this issue first to get agreement and to discuss how to categorize it before I submit a PR. If this is a good addition, would we add it as it's own page or ro

[2020-03-30 17:35] tatianamac commented on #39
@dengeist I'd love your weigh in here if you have a moment!

[2020-03-30 18:37] tatianamac commented on #104
Yes! Absolutely. I've been seeing this usage pop up more and more; even integrated into many tools!

I would create it as its own word. When we open up/create interlinking, we would then link it to `insane`, `crazy`, etc.

I'm working on reorganising our [documentation](https://www.selfdefined.app/documentation/), so hopefully it makes sense if you decide to open a PR.

Happy to support with editi

[2020-03-30 19:33] tatianamac commented on #97
Bad news is that Adobe Typekit does not allow download of .woff files. I can open up a cost to purchase directly from the foundry using funds from the Open Collective, but that will take time. In the meantime, do you have bandwidth to open a PR for what we discussed? (Apologies for the back and forth)

[2020-03-30 20:17] tatianamac commented on #102
Thank you both for researching this.

What if we add a background color to denote focus instead?
<img width="698" alt="Word in focus carries pink background" src="https://user-images.githubusercontent.com/7484549/77957685-b66df680-7288-11ea-850b-16d061c0b613.png">

[2020-03-30 20:21] wuz commented on #102
@tatianamac That works for me!

[2020-03-30 20:26] wuz commented on #97
Are you set on the current font? There are some great, open-source variable fonts out there that come with woff files. I've got some experience splitting up variable fonts to be speedy - I use Recursive on my personal site. It has a _ton_ of variability.

https://www.recursive.design/

[2020-03-30 20:45] tatianamac commented on #102
Agree on the `text-decoration` call out (I should have been more explicit).

@wuz Would you like to open a PR for this?

[2020-03-30 20:48] tatianamac commented on #97
While I love the spirit of Recursive, I'm not sure it encapsulates the vintage/brutish aesthetic I'm hoping to maintain.

Generally I'd be open to open-source fonts (heh) but I'd like that to be part of a broader examination of the full identity of the site (including logo/logomark/colours), which I'm in the process of exploring with a designer.

With that said for now, I'd like to proceed with th

[2020-03-30 21:17] wuz commented on #102
Sure! I can do that tonight!

[2020-03-30 21:18] wuz commented on #97
Gotcha, that definitely makes sense! Happy to help out however I can, regardless!

[2020-03-30 21:54] tatianamac commented on #97
Awesome! Thanks! Would you like to open a pull request per what @dengeist itemised above?

[2020-03-31 20:26] dengeist commented on #39
Hi, @laurakalbag, @ovlb, and @tatianamac!

This discussion makes me so happy! Thank you, Laura, for bringing it up.

Laura said:

I think so!

Oscar said:

As you noted: It Depends™! Too many sections clutter the rotor, and thereby defeat the purpose of a section. I think that, in its current state, the SelfDefined landing page is terse enough that we should be fine. The best change we can make is

[2020-03-31 20:47] ovlb commented on #39
This might be my favourite thread about HTML in the history of ever. Thanks for the additional nuance, EJ.

I think that labelling the first level sub lists (F–L and so forth) is something we should implement and test with some screen-readers. It could make sense if you jump from list to list. Given that we have a lot of lists it’s a way of navigating the page I consider essential.

Another kind o

[2020-03-31 20:52] dengeist commented on #39
@ovlb after suggesting labelled subsections, I edited my comment to suggest proper `h3` elements in the list, rather than ARIA labels. Just want to be sure you saw that. I'm still organizing my thoughts so I should have spent longer thinking before posting. :)

I do agree that we can try itemizing sub-lists in some way. We can test it as long as we are appropriately cautious of our tendency as sig

[2020-03-31 21:02] ovlb commented on #39
@dengeist Ah, Right. Good point. If I remember correctly WebAIM’s last Screen Reader usage study found that the prevalence of users navigating by headline is way higher than those navigating by landmarks. Marking them up as headlines might help.

Maybe we can implement a solution and ask for feedback in the Web A11y slack channel to get an outside perspective :)

[2020-04-01 19:09] tatianamac commented on #95
@greatislander Do you still have bandwidth/interest to work on this?

[2020-04-01 19:13] greatislander commented on #95
Hey @tatianamac, I do! I am hoping to work on it this weekend. Sorry for the radio silence, hope you are well.

[2020-04-02 03:54] dengeist commented on #33
@ovlb, where do you see issues with the emoji that markdown-it produces? In my (admittedly shallow) sweep of the site with VoiceOver iOS, i was able to hear all the emojis I encountered.

Maybe I was encountering emoji which weren’t parsed by markdown-it?

[2020-04-02 06:19] ovlb commented on #33
@dengeist markdown-it does not parse emoji whatsoever. It just put them out as raw text. It’s working fine with recent versions of VoiceOver. I still need to test it with NVDA. Unfortunately don’t have JAWS at my disposal.

Leonie described a pattern in the linked article in the OP. But this the article is several years old by now, so testing is in order.

One thing we might keep in mind is Adrian

[2020-04-02 06:55] dengeist commented on #97
@tatianamac, @wuz:

I was mistaken. I would like to propose that we close this issue as wontfix.

I was network-testing some unrelated work, and realized that the way Chrome labels its network-throttling settings is misleading: _its "Regular 3G" profile is somehow several orders of magnitude slower than Firefox's "Regular 2G."_ I could not find concrete bandwidth settings for Chrome's default netw

[2020-04-02 15:33] ovlb commented on #97
The good news is: Adobe is probably working on bringing `font-display: swap` to Adobe Fonts. The bad news: There is no update since January.

See: https://community.adobe.com/t5/adobe-fonts/possible-to-set-font-display-swap/m-p/10730659?page=1

[2020-04-04 15:33] greatislander commented on #95
Hi @tatianamac and @ovlb, I've got this working in principle for [my fork](https://github.com/greatislander/selfdefined/tree/try/open-authoring) (deployed [here](https://selfdefined-open-authoring.netlify.com)). I haven't fully configured the Netlify CMS editor to handle definitions, but I think this approach is promising. I'm wondering if it might be helpful for me to walk one or both of you thro

[2020-04-10 02:26] tatianamac commented on #97
@dengeist @ovlb Thanks for looking into this so intently!

I went ahead and purchased the fonts for this. Attached is the zip file of all the fonts `.woff` and `.woff2` files. That way, we can avoid TypeKit altogether.

[MyFontsWebfontsKit.zip](https://github.com/tatianamac/selfdefined/files/4459595/MyFontsWebfontsKit.zip)

[2020-04-10 02:28] tatianamac commented on #95
@greatislander Thank you so much for putting this together! Sure! I'd love to try it out and see how it works. Are you able to provide a little README?

[2020-04-10 02:33] tatianamac commented on #39
FWIW I had A-F, G-L, M-P, Q-Z or some arbitrary "I don't know how to count letters" breakdown at one point. I agree that it's sensible to do so, particularly if we can balance the number of terms visually/contextually (some letters may end up having way more terms than others).

I agree with @dengeist 's recommendation of revealing more `h`-hevel hierarchies.

To be explicit, could we summarise th

[2020-04-10 02:34] tatianamac commented on #74
@greatislander Did we lose track of this issue? 😬 (I know you're working hard on the Open Authoring one, so no pressure from me—just trying to get through the issues 😅)

[2020-04-10 04:15] greatislander commented on #95
@tatianamac Happy to. I'll work on that tomorrow. More soon!

[2020-04-10 04:53] greatislander commented on #74
Oh yeah I totally lost track of it. Oops. I am going to be setting up axe for a work project so once I've figured it out there I will replicate here :grin:

[2020-04-10 23:24] greatislander commented on #95
## Instructions for Open Authoring

To suggest changes to an existing definition or propose a new one, visit https://selfdefined-open-authoring.netlify.com/admin/ and click "Login with GitHub". Once you've logged in, you will be prompted to create a fork of the Self Defined repository on your GitHub account. Click "Fork the repo" to proceed.

You'll then be able to click "New Definitions" to creat

[2020-04-10 23:25] greatislander commented on #95
@tatianamac @ovlb See instructions above— you can see the test definition I created in this pull request: https://github.com/greatislander/selfdefined/pull/1

[2020-04-12 16:48] ibwatson opened #108 "Add: "tone-deaf""
Suggest adding "tone-deaf" to list of words defined and viable non-ableist alternatives, such as "insensitive" (I'm sure there are others as well.)

[2020-04-19 08:00] ovlb commented on #97
Why didn’t I get a mail that something happened here? Can I grab this issue and implement the fonts locally?

There might be an issue with copyright though. I think the MyFonts terms forbid to host the files in a public repo.
What I do with my personal sites that use commercial fonts: put them in a separate, private repo, add this to Netlify as `static.domain.com` and use this URL in the @font-fac

[2020-04-20 16:00] tatianamac commented on #97
@ovlb Yes, you can grab the issue. 💙 Is it possible to just `.gitignore` the font-files themselves so that they're hosted but not published on the repo?

[2020-04-20 16:46] ovlb commented on #97
@tatianamac From my understanding of the `.gitignore` they will not leave my computer once I add them there. And as as such also not end up on Netlify

[2020-04-20 16:49] dengeist commented on #97
@ovlb keep in mind that, however we choose to approach this problem, using `@font-face` to load fonts is a render-blocking operation, where assets in `<link />` tags aren't. We'd be back to the perf problem that inspired this change

[2020-04-21 23:28] tatianamac commented on #95
@greatislander I think this looks great so far! I think the integration feels quite smooth!

I have done a little Netlify CMS customisation and I think it would be awesome to add some features to help educate on the definition writing. For example, adding selectors for the flags.

Are we still able to respond to PRs with line-item comments?

[2020-04-29 14:51] greatislander commented on #95
Hi @tatianamac, we can definitely add selectors for the flags and lots of other helpful guidance to the CMS interface. As for responding to PRs, that will still be possible but then the contributor will need to go back and edit their contribution through the CMS -- it's not the perfect workflow but it works, I think!

I can start putting together a PR if you feel that it's worth moving forward. Le

[2020-04-29 19:10] tatianamac commented on #95
Awesome! It would be cool to see how we can integrate the flags and such at another pass! I'd say please move forward with a PR. Thank you for all your work on this!

[2020-05-02 02:06] #102 closed

[2020-05-02 02:12] #39 closed

[2020-05-02 03:21] tatianamac commented on #35
@shimmoril I opened a PR to define misia. If you have time/energy/desire, I'd love your thoughts on it. Absolutely understand if you're not able! 💙🙏🏽

[2020-05-02 03:47] tatianamac commented on #108
@ibwatson Thanks for the suggestion! I'd love if you could read over it and let me know what you think!

[2020-05-02 20:05] shimmoril commented on #35
I probably did not do that at all correctly, but I’ve added some comments to the PR. It’s a really solid definition, thank you!

[2020-05-02 23:50] tatianamac commented on #74
@greatislander Did you figure out the axe set up? I'd love to add it here if you did! 🤓🙏🏽

[2020-05-03 00:06] greatislander commented on #74
I spent a bit of time on it last week but ran into some issues with GitHub Actions which I haven't figured out yet (got it working locally but couldn't get it to run in CI). Still chipping away at it, and will probably spend some more time this week. Fingers crossed!

[2020-05-04 22:00] ibwatson commented on #108
This is fantastic and so thorough!

[2020-05-05 00:54] #108 closed

[2020-05-05 21:01] ovlb commented on #97
@tatianamac I think I found a solution for the font hosting problem by staring at the Internet long enough. Netlify recently introduced build plugins and there is one to encrypt files, which Netlify can decrypt. I will give it a whirl :)
https://github.com/sw-yx/netlify-plugin-encrypted-files

[2020-05-07 21:12] tatianamac commented on #97
Can't wait!

(Also I hope you're able to take care of yourself during these weird times. 💙)

[2020-05-10 01:59] tatianamac commented on #100
Oh! @dengeist  I'm a jerk and never responded here! I feel like I dreamed that I did and considered it done (ok don't judge me for dreaming about this)

OK! So, a few broad things:

- I think that a lot of the content I'm in the midst of writing about for my own blog could be reused or linked to from here for Eleventy core structure, setting up dev environment, etc.
- I think organisationally, it

[2020-05-10 03:34] #35 closed

[2020-05-10 23:12] zackkrida opened #124 "Hompage header text cut off on mobile"
Hi! On my phone the intro paragraph / subheading of the site gets cut off.

![screenshot_20200510-190555_chrome](https://user-images.githubusercontent.com/6351754/81512878-32307980-92f2-11ea-89df-aaed3c6063ca.jpg)

I'm happy to submit a pr if desired—thank you for doing this work.

[2020-05-11 02:59] tatianamac commented on #124
Hi @zackkrida ! Thanks for filing this issue! I'd love if you could submit a PR!

[2020-05-11 04:13] tatianamac opened #125 "🌐 Translations fr_FR"
See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.

## In-Progress Definitions
- [ ] 👌 [ok sign]
- [ ] ableism
- [ ] cisgender
- [ ] gaslighting
- [ ] white fragility

## Complete Definitions
_soon_

[2020-05-11 06:59] HarshKapadia2 commented on #124
@tatianamac I fixed this issue locally by making an addition to `./dist/assets/css/base.css`, but whenever I run `npm run build`, the changes vanish for some reason and Git does not record any changes that I made. When I run `npm run serve` again, the code is back to its original state, ie, without my changes in `base.css`. Could you please tell me what I am doing wrong?

[2020-05-11 10:11] ovlb commented on #124
@HarshKapadia2 `./dist` is the build folder, which gets overwritten every time you run a build. The source files are located in [./assets/css/](https://github.com/tatianamac/selfdefined/tree/master/assets/css). You’ll probably find the correct file there.

If you want to inspect your changes locally you can use `npm run serve`. :)

[2020-05-11 10:35] HarshKapadia2 commented on #124
Thank you for the reply @ovlb!
I'll make a PR soon!

[2020-05-11 13:09] ovlb commented on #97
@tatianamac I gave it a try with a demo project and it works fine. But I think it isn’t the solution we want. As the fonts are hosted encrypted in the repo, we would have to hand out the secret key to everyone working on the project, or they will see no web fonts. If we do this, we are back at the issue that distributing the font files is illegal.

My proposal for hosting them is to create a priva

[2020-05-11 13:12] zackkrida commented on #124
@HarshKapadia2 thank you for handling that; looks great!

[2020-05-11 13:42] HarshKapadia2 commented on #124
No problem and thank you @zackkrida!

[2020-05-11 21:22] tatianamac commented on #97
@ovlb ! Thanks for looking into this.

I feel like as I'm in the midst of a branding project, I this forces a compelling reason to switch to fonts with a licence more amenable to our needs.

For now, I think your solution makes sense! It also might be good to consider migrating to a `selfdefined` specific GitHub org? I'm curious if you've ever done this sort of a migration. Also I can open up a ne

[2020-05-11 22:22] tatianamac opened #128 "🔗 Link tags to create aggregate list view"
## Overview
Currently, the tags (e.g., 🚨 ableist slur) operate as a visual overview. A page like `?ableist-slurs` would exist.

To enhance this feature, we'd like to link those tags so that they show a view that includes:

- all terms that possess that tag
- an overview on the tag/what it means/caveats

## Task Requires
- UX/UI design of what this page could look like
- Enhancing the tagging struc

[2020-05-11 22:22] tatianamac commented on #128
@lkopacz I believe you were starting on this issue, so tagging you here. 🤗

[2020-05-11 22:40] tatianamac commented on #124
Thank you for filing the issue, @zackkrida  and for jumping on it, @HarshKapadia2 ! I appreciate you both!

Closing this issue manually since I don't think GH allows backwards PR-issue linking 🙃

[2020-05-11 22:40] #124 closed

[2020-05-12 00:16] tatianamac opened #129 "✍️ Writing an "about page""
## Overview
As the project grows, having a full separate about page that explains the context for the project would be beneficial.

## Things to cover
- Back story; why does this project exist and why is it important
- Caveats about how language evolves
- Caveats about how self-identifying terms do not necessarily always have consensus and how we shouldn't be seeking consensus
- Content warnings
-

[2020-05-12 11:45] ovlb commented on #97
@tatianamac Discussing this in a separate ticket makes sense. :)

[2020-05-13 06:17] #86 closed

[2020-05-13 07:24] yefim opened #130 "Incomplete sentence in pronouns definition"
Thanks for writing up a definition for pronouns! I noticed what I think is an unfinished sentence under the [Considerations](https://github.com/tatianamac/selfdefined/blob/56b7b074c769e9905c76cfdde1781372681dbcfc/11ty/definitions/pronouns.md#considerations) subheading. I'm quoting the sentence below:

[code]

I would really appreciate it if the sentence were finished :)

[2020-05-13 15:36] tatianamac commented on #130
Thank you! I fixed it but forgot to link the PR.

[2020-05-14 03:58] #104 closed

[2020-05-14 05:00] yefim commented on #130
Thanks!

[2020-05-14 05:00] #130 closed

[2020-05-14 05:32] tatianamac opened #135 "🔍 Build search feature"
## Overview
As the product grows, the homepage will migrate away from being a long list of words and toward an overview of the product. Therefore, building in a search function will be one of many steps to accomplishing this.

## Features

### Minimum
Minimum feature expectations would include:
- serving a search results page

Advanced feature expectations would include:
- autofill considerations

[2020-05-16 20:01] j-zavala commented on #135
Hi @tatianamac is there a specific search engine tech you were looking at? (Elasticsearch, Algolia, Google's Custom Search) or if you were looking at other implementations.

I don't have much experience building with any of these, but that's what makes the endeavor fun😀 .

If it's still very much in the research phase, that's fine. Just let me know, and I'll do some research of my own to help make

[2020-05-16 20:42] tatianamac commented on #135
Hi, @j-zavala ! Hoorya! I'd love your help with research! I would prefer to stay away from Google search if possible. Also, whatever implementation you find, I hope, will make the search bar and results accessible. (FME, a lot of them are hard to make accessible!). Looking forward to working with you and what you find!

[2020-05-17 00:08] tatianamac opened #141 "🗃️ Build "revise term" alert box"
## Overview
Build a component that follows each definition that encourages readers to submit revisions if needed.

Recommendation would be to build a separate `.njk` block that can be called by the definition template.

## Design
Threw together a rough wireframe. It's not in the correct fonts but should give you an idea of the general structure.

Reach out with any questions!

[2020-05-17 00:08] tatianamac commented on #141
@jlealess Here is an issue for you!

[2020-05-17 02:04] tatianamac opened #142 "⚒️ Build content warning logic"
## Overview
Content warnings are current listed as a label, so it shows up on the homepage. It's looking a bit cluttered and lacks context.

Instead, the content warning flag should trigger adding a note to a word definition page to the effect of:

"You may want to add a content warning before discussing or showing imagery involving this topic, as it is a topic that can elicit negative feelings an

[2020-05-17 02:11] bashunaimiroy opened #143 "Add space 🌌 between homepage sections"
As a visitor to selfdefined.app, I want to be able to easily identify the discrete sections on the homepage, so I can focus on one at a time.

![image](https://user-images.githubusercontent.com/27756206/82134030-cf8f2000-97c0-11ea-94aa-02d2b7c6a671.png)

In the [homepage](https://www.selfdefined.app/), the header / intro section and the dictionary section don't have vertical whitespace between the

[2020-05-17 02:11] bashunaimiroy commented on #143
Say no more bhai, I'm grabbing this one.

[2020-05-17 07:12] MatthewShields commented on #142
@tatianamac I can take a look at this one :) just to check a couple of things though:

1. alongside the adding of the note to the individual definition page, because you have mentioned the homepage looking cluttered would you want them removing from the homepage?

2. if this is the case would you want to keep the other homepage red flags such as racist or sexist terms?

[2020-05-17 08:57] MatthewShields commented on #142
I have approached it like this, however as this has involved design decisions it would be good to get your input as I don't want to mess with the aesthetic of the site.

I have added an introductory section (when a flag is present) with an anchor link to a section at the bottom. My thought process on this was that it would allow the guidance on content warnings to be expanded if necessary without

[2020-05-18 03:38] tesseralis commented on #96
I think I can help a little with this :)

## Human Considerations

First off—how you want to support different languages depends on how you see the scope of selfdefined. Is it meant to primarily focus on definitions of English words, other languages being pure translations of the English articles? Or would it work more like Wikipedia (except y'know, less run by white cis men) where the content in

[2020-05-21 04:07] ivana-mcconnell commented on #129
Hi Tatiana! I'd like to help with this one. It's pretty clear to me, but I just have a few questions for you before starting:

1. Content warnings: I'm assuming you'd like to outline why they're used, when, and what they look like on the site?
2. Usage/licensing: Do you have any guidelines on what you'd like said about this? Do you mean usage or licensing of the concept, of the code, or something

[2020-05-21 12:03] ovlb commented on #96
@tesseralis Thanks for this input. Lots to think about in there.

re technical considerations, a rough idea jumping two steps ahead: I maintain a multilanguage 11ty site (code is unfortunately not open source yet, but might be soon), in which I use folders named after the locales (e.g. `fr`, `nl`, `en`). I use a directory data file in these folders to set a locale, e.g. `en.json` looks like this:

[2020-05-21 15:00] vigneshvelu opened #146 "Word suggestion - 'Dude', 'Bro', 'Guys' and 'mate'"
I asked @tatianamac on Twitter about the word 'dude'. She said these gender codified language belong in the app. Creating a new issue. Thank you, @tatianamac

Here is the tweet: [https://twitter.com/TatianaTMac/status/1262982728481300480](https://twitter.com/TatianaTMac/status/1262982728481300480)

First time, I was corrected when I used 'Hey guys' was by a slack bot. It made sense to me then and

[2020-05-21 18:41] katesowles opened #149 "Introduce RSS/Atom feed"
- allows folks to subscribe and keep up to date with new additions
- to check: curious if RSS/Atom can be setup to push edits/updates as well

And of course 11ty has a plugin for this: https://www.11ty.dev/docs/plugins/rss/

[2020-05-21 18:44] katesowles commented on #149
New to 11ty but I'll give this one a shot since (selfishly) I want updates pushed to me in a more manageable format than twitter.

[2020-05-21 21:32] ovlb commented on #149
As the docs are not finished please don’t hesitate to ask if anything is unclear!

[2020-05-22 00:21] lkopacz commented on #146
@vigneshvelu I would personally use some of the templates that display the issues, impact, usage tips, and alt words.

Here are a few examples:
- [Crazy - Ableist Language](https://www.selfdefined.app/definitions/crazy/)
- [Sanity Check - Ableist Language](https://www.selfdefined.app/definitions/sanity-check/)

[2020-05-22 00:43] lkopacz opened #152 "Create issue markdown template"
The goal of this is so that folks have a template they can copy and paste when they are creating a new word for the dictionary. This can help make it less intimidating for newer contributors who may be worried about formatting the frontmatter correctly and ensuring that they are using the correct headers.

[2020-05-22 01:03] lkopacz commented on #152
After looking at the common of groupings of words, here are some common grouped headings:

[code]

[code]

[code]

I also think we should add `See also` to all of these. What do you think?

[2020-05-22 09:12] ovlb commented on #152
I started work in a similar direction when we made the switch to Eleventy and broke all definitions into their own files. But I didn’t get really far. My idea was to provide some examples and also context when which template should be used. Happy so that expanded/rewritten.

See here: https://www.selfdefined.app/documentation/examples/

[2020-05-22 19:04] wuz opened #153 "Add alex as a Github Action for PRs that change text"
The [alex](https://alexjs.com/) project is a great way to check language for inconsiderate words, which I think fits really well with the ideas of this repo.

I think we could implement this as a Github Action for new PRs, which would run the check against new content changes to definitions.

I'd love to work on this if it's something that makes sense to add!

[2020-05-22 22:46] tatianamac commented on #153
Hi, @wuz ! I'd love if you read through this thread first:

https://twitter.com/tesseralis/status/1260421410192650241?s=20

[2020-05-23 06:40] tesseralis opened #154 "Term suggestion: Person First Language"
"Person-first language" describes language that puts the identifier after the name, e.g. "person with disabilities" instead of "disabled person", "person with autism" rather than "autistic person". From what I gather from Disability Twitter, many disabled folks don't actually like it, or consider it complicated:

* https://thebodyisnotanapology.com/magazine/the-problem-with-person-first-language/

[2020-05-23 15:42] wuz commented on #153
Oh wow, yeah that's a really good thread. Thank you so much for sharing @tatianamac! I have used Alex for personal writing in the past without running into that (definitely because I am a white man, which means I don't have to refer to myself with what Alex thinks are "profane" labels)

Thanks for sharing that thread. I think there might be some good work to be done on this project with Github Act

[2020-05-23 15:42] #153 closed

[2020-05-23 16:21] tatianamac commented on #154
Thanks for submitting, @tesseralis ! Yes, that's been my observation as well wrt what the disabled folks I follow on Twitter say; I've mostly seen people with disabilities (PwD) used by able-bodied people who work in accessibility.

I also think that on other axes, person-first language is a positive thing when in the case of race "Black people" versus "Blacks" and "Asian people" versus "Asians."

[2020-05-23 16:23] tatianamac commented on #135
@j-zavala Wanted to let you know I now host Self-Defined Saturdays on our Slack channel, so folks can ask each other questions and what not.

How are you feeling about this issue? Would you still like to take it on?

[2020-05-23 16:24] tatianamac commented on #141
@Jlealess Let me know if you have questions around this and/or are still able to contribute! I've opened up Self-Defined Saturdays on our Slack channel so folks have resources to help.

[2020-05-23 16:39] tatianamac commented on #152
@lkopacz Thanks for opening this issue!

Every term, my hope, has the bare minimum for the following:
- Part of speech
- (Language, which is implied now as English, but as we increase translations matters increasingly)
- Definition
- Further Reading: In particular, written by people who identify as the term (when an identity term)

I think that the terms *generally* can be grouped into, with addit

[2020-05-23 16:43] tatianamac commented on #152
Also I'm wondering if Considerations and Notes are used in the same way. I think the former is more specific (which I generally find good), but I imagine there might be a few use-cases where notes is necessary? I guess I'd like to avoid notes when we can, as it's vague to me.

[2020-05-23 17:07] tatianamac commented on #152
Oh! And I think this could serve two-fold as both a .md template to copy AND as an issues template for those who aren't comfortable coding it themselves.

[2020-05-23 17:11] tatianamac commented on #95
@greatislander Hello! How are you feeling about moving this to a PR?

[2020-05-23 17:17] greatislander commented on #95
Hi @tatianamac, been swamped with work but I still intend to work on this. Sorry for the lack of progress!

[2020-05-23 17:50] tatianamac commented on #142
Hi @MatthewShields ! This is awesome, thank you so much for taking a pass at this!

I'd love to see a few things for if/when you decide to open a pull request:
- Integrate the content warning style (yellow instead of red, with the ⚠️ iconography) into the top and bottom boxes (so light yellow background on both, perhaps with that red line to yellow?
- I think that the "Content warning: [topic]" se

[2020-05-23 18:01] tatianamac commented on #142
As for your questions, I think that at some point, we'll probably no longer have this "all words" view, and the homepage will function a bit more as a explainer as to what this tool is, and perhaps we'll have all the tags linked under a "avoid terms" list. Until then, I think it's good to keep them as a cursory glance; the content warning just sent it a bit over the visual overload edge.

[2020-05-23 18:03] MatthewShields commented on #142
Great thanks for the input will get onto working on the changes now :)

Will keep the flags on the homepage but if you want an extra set of hands in the future working on that feel free to @ me.

[2020-05-23 18:06] tatianamac commented on #142
I always appreciate extra help! Also, I have opened up Self-Defined Saturdays on Slack so folks can get input and collaborate (and I can offer centralised, immediate help), if [you'd like to join](https://join.slack.com/t/selfdefined/shared_invite/zt-en1u6xn8-CumcehUfprC0GH5lamb1bg)!

[2020-05-23 18:38] j-zavala commented on #135
@tatianamac Yes, I'd still like to take this issue on!

I'm working this weekend to research/document the best option for search. I was looking to get feedback during/after to make sure I'm not missing anything. Self-Defined Saturdays sounds perfect for this.

[2020-05-23 19:08] tatianamac commented on #153
No worries! I definitely think there's potential. I think that the key aspects are ensuring that the linter can be by default set as non-blocking, and also ensuring that education is the first desire. Whenever people perceive things as being totalitarian, they will shut down. This is ofc disappointing, but I suppose my personal quest is to be informative and educational, allowing people the choice

[2020-05-23 19:31] MatthewShields opened #155 "Separate content warning guidance page"
After discussion, we think that it would be a good idea to have a separate page to provide more long form guidance around content warnings, why they are necessary and how to provide them.

It might also be a good idea to provide examples of this in practice.

This could then be linked to from the **in progress** content warning guidance block (https://github.com/tatianamac/selfdefined/issues/142)

[2020-05-23 19:35] tatianamac commented on #129
Hi, @ivana-mcconnell ! Yay! Your second issue! 🎊

Answers below!

Also, I'd love to invite you to [our Slack community](https://join.slack.com/t/selfdefined/shared_invite/zt-en1u6xn8-CumcehUfprC0GH5lamb1bg). Every Saturday, I'll be hosting "Self-Defined Saturdays where I'll help folks work through issues! I hope multiple folks will come to work on it. 😅

1. I think it's good to reference to #142 f

[2020-05-23 20:24] oakthielbar commented on #146
I'd be happy to start on a definition for this.

[2020-05-23 21:06] ovlb commented on #135
@j-zavala Do you have a Elasticsearch tutorial at hand you can recommend?

[2020-05-23 21:40] ovlb commented on #141
@tatianamac It might be nice to have a «Edit this page on GitHub» link inside of the box. I think that’s a good short cut, especially if folks only want to fix a typo or something.

[2020-05-23 22:00] tatianamac commented on #141
Agreed!

[2020-05-23 23:19] j-zavala commented on #135
Hey @ovlb, sure [this one](https://www.elastic.co/guide/en/elastic-stack-get-started/current/get-started-elastic-stack.html#install-elasticsearch). But it's more of how to set-up ES on your computer.

Though, I felt this tutorial went deeper into the context and basics, so it might be closer to what you're looking for: https://cdcvs.fnal.gov/redmine/attachments/download/33047/Basic%20concepts%20ab

[2020-05-24 18:19] jlealess commented on #141
@tatianamac Yes, I'm definitely still around and looking to contribute! I started working on this last weekend and am hoping to finish up this weekend; a shortage of good 11ty guides has slowed me down but I'll have something to review soon and will add the link to edit on GitHub in the box.

[2020-05-24 19:31] oakthielbar opened #159 "Broken links in preferred pronoun"
The links to the definitions for pronoun and neopronouns are both broken on the preferred pronoun definition page. This appears to be due to a missing preceding forward slash.

I'm working on establishing a PR for this now.

[2020-05-25 10:53] marmotte99 opened #162 "Drama"
Hi I am super bad at GitHub
But could we include drama : used to describe movie or theatre, also for a series of intense events

Dog whistle term used to demean those calling in harm and to distance oneself “ I hate all this drama” “infosec drama”

Could we also add tight ? I have seen this used in security and privacy terms to “keep security tight/ passwords tight

Tight means taught, tense, tone

[2020-05-26 23:01] #162 closed

[2020-05-27 01:11] #159 closed

[2020-05-27 01:41] tatianamac opened #164 "🌐 Build language infrastructure"
## Overview
As we gain more definitions and more translations, I'd like to create a template for new languages.

To accomplish that, I see the following steps needed (which I imagine, there are more I'm missing):

- [ ] Create clear folder structure for each language. To maintain neutrality, the current English definitions should be ported into `en_GB` or equivalent.
- [ ] Determine which core sit

[2020-05-27 01:48] tatianamac commented on #96
@tesseralis Thank you for this thoughtful answer! I opened a separate "technical only" issue (#164 ) so that someone can start the work. I did my best there to address the points you brought up. I'd welcome any additional thoughts you have there on how to structure.

As for all the notions, your assumptions were correct that I want to:
- Maintain autonomy of each language so that my American/Engli

[2020-05-27 01:50] tatianamac commented on #96
Once you both provide (if you would like) feedback to the other task (#164 ), and we are able to create language instance template, I think we can consider this task closed? Why did I open such a vague issue? 😂😭

[2020-05-28 08:01] #143 closed

[2020-05-28 23:59] lkopacz commented on #152
Oops, I forgot to link the Work-In-Progress (WIP) PR for this https://github.com/tatianamac/selfdefined/pull/161

[2020-05-28 23:59] tatianamac opened #170 "⚒️ Add 1:1 term comparison"
## Current Landscape
Currently, alt words are a flat front matter datum. Some words that we're suggesting to avoid can be used in multiple contexts.

For example, dude can be used as an interjection and as a noun. It becomes unclear which alt words correspond with what. See #169 for details.

## Feature Description
Many ways exist to solve this problem, a couple outlined below. Open to other ideas

[2020-05-29 07:07] jgurtz opened #171 "Figure out some way to include object nouns disrespecting some group"
I'm sure there's more like this, but these two examples are in wide use in their respective industries. There may be several categories of these kind of references

1. _Dykes_ or _dikes_ to describe a diagonal or side-cutters. Some brief research seems to say that the term is not intentionally degrading, but may have arisen as a phonetic combining of diagonal and cutters. Is just being easily mist

[2020-05-29 20:45] MatthewShields commented on #155
@tatianamac - I'll take this issue :)

[2020-05-30 15:59] vogelbeere commented on #135
I am not familiar with eleventy, but I was thinking about search and wondered if filtering would be useful initially (but the problem would be that, as the database grows, filtering would become very slow).

[2020-05-30 16:04] vogelbeere opened #177 "Feature request: web form for entering new words, definitions, and tags"
Web form for entering new words, definitions, and tags

I am thinking this would be a good idea for non-technical contributors, but also need to guard against spam entries.

If I can figure out how to get this to interact with eleventy and markdown, happy to do it myself.

[2020-05-30 20:15] tatianamac commented on #177
@vogelbeere , thank you! Awesome feature request.

You might know this (though I would not blame you if you didn't), we have a few approaches in the work for folks to contribute:
- Open PR
- Issues template (in progress)
- Netlify Authoring (in progress); integrates with Netlify CMS so they can be submitted using a WYSIWYG editor interface
- This!

I tend to think the more options we have the bett

[2020-05-30 22:26] tatianamac opened #179 "⚒️ Show definition in unfurled social views"
## Current Behaviour
Right now the description says "Definition of [word] in Self-Defined, a modern dictionary about us:

<img width="596" alt="image" src="https://user-images.githubusercontent.com/7484549/83340162-bb035b00-a289-11ea-9824-28fbdea51179.png">

## Desired Behaviour
Instead, it'd be great if the social card/unfurled view l could include the definition

[2020-05-31 22:54] philherb opened #180 "New Term: Digital Blackface"
Digital Blackface is a form of appropriation where white and non-black individuals use memes featuring black people. This is a 21st century version of Black minstrelsy which was prevalent in the 19th and 20th centuries.

It can go further where entire online personas are created. These are easy to spot as they almost always use terms like "as a black woman..." and resort to stereotypes of speech a

[2020-05-31 23:08] tatianamac commented on #180
@philherb Rad! Thanks for submitting this! I think it's great. Typically our white supremacy tools follow a loose structure below. If any sections don't apply you can omit. Usually Issues and Impact are the most important.
[code]
From what you wrote, I think you have a lot of that skeleton filled out. A few notes:
- [ ] I'd add to this under examples that it might be good to include when non-Black

[2020-05-31 23:12] philherb commented on #180
Yes, thanks for the help and suggestions. I will convert this to an .md file

[2020-06-01 17:52] Pythonidaer opened #181 "<<WIP Propose definition for Alt-Right>>"
Hello,

In light of recent events, I was suggested to provide definitions of White Supremacist Tools. New to GitHub but read the documentation example as well as front matter. I am looking for suggestions on this piece and to confirm that else needs to be done to achieve a desired result.

The definition is from Google, so I am unsure whether I should define this differently. The Issues, Impact an

[2020-06-01 20:58] tbrasington commented on #179
Hello

Is there a preference on how this should be for writers?

I have had these ideas so far :

1. add a front matter tag like this:

[code]

2. use a tag like **``** which would take the content above it:

[code]

Both could be implemented in the definition.njk file like this and falling back to the existing description if no text is present

[code]

Looking forward to hearing the feedback and

[2020-06-01 22:09] tatianamac commented on #181
Thank you for submitting, @Pythonidaer ! Good stuff so far! 🙏🏽

At first glance, my initial read is that we need to be a bit more explicit that alt right is a way to soften its true intended meaning, which is white supremacy. (I see you have white nationalism as one of the alt words, but not white supremacy.)

I imagine you're trying to be careful to include nuance, but it's important to me to mak

[2020-06-01 22:38] philherb commented on #181
@Pythonidaer I actually like the definition that is in the ADL article you posted. I think it's a bit more direct in its definition:

"Alt right is short for “alternative right."  This vague term actually encompasses a range of people on the extreme right who reject mainstream conservatism in favor of forms of conservatism that embrace implicit or explicit racism or white supremacy...
...People wh

[2020-06-02 00:04] tatianamac commented on #171
I've been reflecting on this more and I think that it makes sense to in the interrim consider these as full terms. Long term, they'll become full terms anyway, so we might as well.

As such, would you be able to pull together a list of any other terms you think of?

[2020-06-02 01:04] tatianamac opened #183 "⚒️ Design/build navigation"
## Current Behaviour

The site has flat navigation right now, which isn't as accessible and as clear as it could be.

## Desired Behaviour

Clearer navigation that could include:

- [ ] Search bar (#135 )
- [ ] Perhaps categorisations? Show list of terms by flags?
- [ ] Toggle language (#164 )
- [ ] About page (#178 )

Of course building the navigation requires building all those other pieces, but

[2020-06-02 03:34] Pythonidaer commented on #181
Hello @tatianamac,

- Tomorrow I will merge the recommendation you and @philherb have mentioned regarding the definition of alt right. Part of me wanted to feel out synonyms first, so I will likely PR with white supremacy as an added alt words, while also incorporating the definition Phil recommended (thank you Phil!).

- Once I modify the definition and clean up my language on the markdown a bit,

[2020-06-02 05:52] jgurtz commented on #171
I was trying to think of some earlier but did not come up with any others. Let me ruminate on it for a couple days. I feel like they are just out there hiding in plain sight.

[2020-06-02 09:27] tbrasington commented on #183
I would like to help with this. Is there an approach for the design tasks?

[2020-06-02 20:41] AutoSponge opened #185 "Suggestion: Colorblind"
I heard a colleague use the term, "color blind" (like it was a good thing) during a recent discussion about race. I don't use the term, even in sarcasm, because it conflates with people who actually have color blindness. Perhaps it's ableist? In this context it's certainly racist.

~~However, if I use the term "post-racial" to describe someone, they're living in a fantasy world. They're so removed

[2020-06-03 11:02] tatianamac commented on #183
Not yet! I'm not sure what you mean by design approach. Could you elaborate? I'm happy to answer any specific questions.

Also I always invite collaborators to our [Slack channel](https://join.slack.com/t/selfdefined/shared_invite/zt-en1u6xn8-CumcehUfprC0GH5lamb1bg) to discuss with other contributors.

[2020-06-03 11:43] tbrasington commented on #183
I was thinking whether ideas where worked on in a tool like Figma, with the work shared for feedback? or building something and doing a PR?

Thank you for the invite :)

[2020-06-03 19:44] malchata opened #189 "Suggestion: bloated"
There's a word I see used often, especially in web performance literature, and that word is "bloated". I used to use this word quite frequently in my own performance articles, but have come to seriously consider whether it's a slur in the sense that it implies a body image that doesn't conform to societal expectations of being thin.

It's possible I could be wrong and this word may be overloaded w

[2020-06-05 22:25] AutoSponge commented on #185
Possible resources:

Social changes did not eliminate racism and racial inequality, even if they made important progress. But, if racism is no longer overt in many situations yet still exists, what should we call it? One concept which scholars call colorblind racism, is the belief that racism is no longer a problem and that we all have equal opportunities. People who subscribe to colorblind explan

[2020-06-06 00:40] tatianamac commented on #189
@malchata I did a little research on this and I don't think that it's fatmisic to say this. Bloatedness a medical term and AFAIK is agnostic of weight and doesn't necessarily imply anything about appearance either.

What I will say is if you ever feel uncertain using a term like this and are actively avoiding, that your instincts are probably in the right place. Other medically appropriative terms

[2020-06-06 00:40] #189 closed

[2020-06-06 02:45] malchata commented on #189
Thanks for the thoughtful response, @tatianamac! For me, this word was sort of on the fence, but I can understand that doesn't warrant its inclusion in the dictionary. Thanks for the talk!

[2020-06-06 19:51] ericwbailey opened #195 "Suggestion: Hawaiian shirts"
I'm suggesting the term to give awareness of the symbology utilized by [the accelerationist Boogaloo movement](https://en.m.wikipedia.org/wiki/Boogaloo_movement). In addition, I think there's an opportunity to highlight the cultural appropriation and Colonial history that existed before the movement began.

My question is if this should be defined under the term _boogaloo_—the shorthand reference

[2020-06-07 23:13] tatianamac opened #197 "🖌️ Build page view for undefined words"
## Current Situation

Undefined words render .md files but are not displayed, toggled by the `defined: no` front matter.

## Desired Situation

Page instead shows a template that tells the user that the term is not yet defined and invites them ways to define via issues, PRs, etc. (In the future, the Open Authoring will be possible as well.)

## Needs
- [ ] Write page content
- [ ] Design page
- [

[2020-06-07 23:40] tatianamac commented on #195
Hi @ericwbailey ! There is an existing PR (which is closed bc I had to migrate the app to its own org and rename the main repo) for Boogaloo (#186 ).

I think if you wanted to read over that, it would be most fitting there. Perhaps you could add it as its own note to be a bit more explicit.

[2020-06-07 23:44] ericwbailey commented on #195
Oh shoot, sorry I missed that. Will do!

[2020-06-07 23:44] tatianamac commented on #185
I think that color-blind is definitely a good term to parse out of this.

As for post-racial, I think it could be effective too, so long as the definition is clear about "Appropriate and Inapprorpiate Usages" (this is a common construction we use in the dictionary).

[2020-06-07 23:56] tatianamac commented on #181
@Pythonidaer , are you still up for working on this PR? Trying to do my weekly status updates.

[2020-06-08 01:58] Pythonidaer commented on #181
@tatianamac hello yes thank you for checking. I am going to work on this tonight and finalize a PR for tomorrow.

[2020-06-08 23:53] AutoSponge commented on #180
Maybe add a "see also" for Corporate Blackface aka performative allyship. Source: https://www.tanyavital.com/news/keep-the-corporate-black-face via Kim Crayton.

[2020-06-09 19:33] yannletiec opened #198 "False synopsis for the play "Gaslight""
https://selfdefined.netlify.app/definitions/gaslighting

"where a man changes the lights in the house, while denying her observations of the changes" is false

it should be "where a man is intent on convincing her that she is going insane to the point of assuring her she is imagining that the gas light in the house is dimming", as found on wikipedia.
https://en.wikipedia.org/wiki/Gas_Light

[2020-06-09 23:32] codeAbul commented on #197
Hi @tatianamac , hope you are well. I would like to start contributing to the project again. If no one else is working on this, I would like to take this up. Thank you!

[2020-06-09 23:52] codeAbul commented on #47
@tatianamac Currently resuming and reworking on creating fluid/modular scales for the project. Will keep the folks posted on progress!

[2020-06-10 09:32] codeAbul commented on #47
WIP branch ( https://github.com/codeAbul/web-app/tree/fluid-type ). Finished the basic functionality. Will be working next to extract functionalities into mixins and functions so it is easier to modify in the future

[2020-06-10 17:22] tatianamac commented on #197
@codeAbul So happy to have you back! I hope you've been taking care. I'd love if you could partner with a designer to make this happen.

Also, since you've been gone (sung to the tune of Kelly Clarkson), we have a [Slack community](https://join.slack.com/t/selfdefined/shared_invite/zt-en1u6xn8-CumcehUfprC0GH5lamb1bg)!

[2020-06-10 17:43] tatianamac commented on #47
@codeAbul I asked a Thomas (who I flagged in the other issue you're claiming) if he could work with you on this since he's doing a broader reassessment of the design system beginnings! (Also so happy to have you back! 💙)

[2020-06-10 18:38] tbrasington commented on #47
Hey @codeAbul looks good. I had a similar but slightly different approach when it came to generating the step values.

I have been using this method from here:
https://every-layout.dev/rudiments/units/ and
https://every-layout.dev/rudiments/modular-scale/

Rather than using any breakpoints with min/max there is an adjustment to the :root then the usual ratios. This has some advantages for those wh

[2020-06-10 19:28] tatianamac opened #202 "🧹 Consolidate/finalise linting; consider axe Linting and Linkinator"
##  Overview
Deque just released [axe linter](https://github.com/marketplace/axe-linter).
I have done no preliminary research on this, but thought it may be helpful to consider for our set up.

To be explicit, I never see linter tools or automated tests  as a replacement for manual user testing in accessibility. Instead, I see them as helpers.

I wanted to bring this up in the context of the other

[2020-06-10 19:30] greatislander commented on #202
Hi @tatianamac! I agree it would be good to try the new axe-linter. I didn’t get anywhere with running axe-cli in GitHub Actions although I’m sure it is possible.

[2020-06-10 22:38] bnb commented on #202
The axe Linter GitHub Action looks pretty nice. As you mentioned, not a replacement but it's a nice gate to have for shipping.

[2020-06-11 06:16] codeAbul commented on #47
Hey @tbrasington , thank you for sharing your approach to the problem. This indeed is much less mathematically verbose and conceptually more clear, but the only issue is the inability to 'clamp' the values to a min and max which ofcourse could be solved by `clamp(1rem, 1rem + 0.5vw, 1.25rem)`, without the clamps we would be letting the text grow larger than we would like in some cases. Once clamp(

[2020-06-11 06:29] codeAbul commented on #197
@tatianamac Thank you for being welcoming as usual! I am glad to know there is a slack community ! I would love to partner up with a designer to take this issue forward!

[2020-06-11 10:35] ovlb commented on #47
Hey Abul! Good to have you back :)

`clamp` is nice, but in this case not essential. You can achieve the same effect with `min` and `calc`, as [demonstrated by Heydon](https://twitter.com/heydonworks/status/1255462784088891392):

[code]

[2020-06-11 11:17] fr-abul commented on #47
@ovlb hey Oscar! Yes you are right and i was considering min but unfortunately it is not supported in Firefox Android. ( https://developer.mozilla.org/en-US/docs/Web/CSS/min )

[2020-06-11 11:23] codeAbul commented on #47
Hey @ovlb you are right and I was considering min too but unfortunately it isn't supported on firefox Android and some other browsers on android ( opera , Samsung internet ) ( https://developer.mozilla.org/en-US/docs/Web/CSS/min )

I will try to play around with supports clause and see how it performs in firefox without the min function and just the calc.

[2020-06-11 11:48] ovlb commented on #47
@codeAbul On mobile the effect isn’t large in the first place, so I think keeping it simple and only use a fallback might work well enough. Like

[code]

[2020-06-11 11:51] codeAbul commented on #47
@ovlb Yes. Will do. Thank you for the suggestion!

[2020-06-11 18:02] tkshill commented on #198
Hey @yannletiec, thanks for expressing interest in the project. If I may, I think I can clarify the intent and reasonings behind the structure of the entry.

I believe this part of the entry is not attempting to serve as a full synopsis of the film, but rather to inform the reader of the etymology of the term. While there may be greater context, the phrasing chosen is a truthful description of act

[2020-06-11 19:07] kathryngraysonnanz commented on #195
@ericwbailey hey there! jumping in to this because I started the PR with the Boogaloo definition. As @tatianamac noted, I have not re-opened the PR since the migration (life has been hectic – it's on my to-do list for this weekend). If you'd like to connect and work on the definition / PR together, I'd be super open to that :) I think the inclusion of the Hawaiian shirt connection is a good one

[2020-06-11 19:31] tatianamac opened #205 "✍️ Define dogwhistle"
As this approach is used a lot in white supremacist groups, I think it would be beneficial to define it along with examples, and then connect all the interrelated phrases.

[2020-06-11 19:32] tatianamac commented on #195
Perfect, thanks, @kathryngraysonnanz ! Closing this issue and redirecting work to the soon-to-be-reopened #186 .

[2020-06-11 19:32] #195 closed, assigned to nobody

[2020-06-11 20:06] tatianamac opened #206 "✍️ Define master/slave terminology"
Share context for why this terminology is problematic and share examples of institutions that have fixed it in their architecture.

Provide alternatives.
Provide argumentation for institutions.

Basically, I want this to be a resource for technologists to use to sell in to their bosses (who might be racist and not care), but to get the change instituted in spite of this.

[2020-06-11 20:06] tatianamac opened #207 "✍️ Define whitelist/blacklist"
Share context for why this terminology is problematic and share examples of institutions that have fixed it in their architecture.

Provide alternatives.
Provide argumentation for institutions.

Basically, I want this to be a resource for technologists to use to sell in to their bosses (who might be racist and not care), but to get the change instituted in spite of this.

[2020-06-11 20:27] ericwbailey commented on #195
@kathryngraysonnanz I would love to collaborate, and I totally get you about hectic page. I set just up a blank Google doc if you're interested in working out of it. My email is `eric.w.bailey@gmail.com` if you want to send me an email address for a collaboration invite.

[2020-06-11 20:29] tatianamac commented on #195
@ericwbailey Also if helpful, Kathryn and I are both on our [Slack community](https://join.slack.com/t/selfdefined/shared_invite/zt-en1u6xn8-CumcehUfprC0GH5lamb1bg).

I know it's another Slack community but it's fairly quiet and I find it helpful personally. Up to you.

[2020-06-11 20:30] ericwbailey commented on #195
I am running out of sidebar here (joining).

[2020-06-11 23:39] tatianamac opened #208 "✍️ Write style guide"
## Overview
The site is getting to a point where it could use a house style guide in written form. As I've edited most of the English entries, I've been able to catch most things.

## Considerations
- Use en_GB for any English entries.
- Write in active voice.
- Adhere to [TBD] style guide for spelling.
- Serve as a guidepost and starting point; no entry is written as permanent and can and should

[2020-06-12 00:29] bnb commented on #206
Huge +1. This just came up in a discussion I was having and would love to point them to selfdefined ❤️

[2020-06-12 09:51] ovlb commented on #202
Agreed with axe linter. @bnb, @greatislander Does one of you feel comfortable setting this up?

Linkinator looks interesting. We should give it a try!

[2020-06-12 09:56] ovlb commented on #180
The initial defintion was added by #196.

@AutoSponge can you open a new PR with this addition?

[2020-06-12 09:57] #180 closed

[2020-06-12 15:53] tatianamac commented on #180
I also might add that it should be its own definition because it's a whole other set, but we could interconnect them by making them "Related Terms" on both terms once it's added.

[2020-06-12 17:06] AutoSponge opened #211 "Define Corporate Blackface"
Define Corporate Blackface.

References:
- https://www.tanyavital.com/news/keep-the-corporate-black-face via Kim Crayton.

Add a "related term" for Corporate Blackface and performative allyship within Digital Blackface.

see https://github.com/selfdefined/web-app/issues/180#issuecomment-643186485

[2020-06-12 20:12] #170 closed

[2020-06-12 20:21] tatianamac commented on #211
@AutoSponge Are you working on this, or are you asking for someone else to take it? (Mostly concerned so I can update status accordingly)

[2020-06-12 20:40] AutoSponge commented on #211
Sorry, "help wanted".

[2020-06-12 20:48] tatianamac commented on #177
@vogelbeere Doing my weekly status updates for issues. Is this one you'd like to pursue implementation of? If yes, we have the Slack community linked above where folks can support as you'd like. If not, I'll mark it as help wanted. Thank you!

[2020-06-12 20:58] tatianamac opened #214 "⚒️ Automate 'thanking' tracking"
## Overview
As we release new features, I manually go through and track who did it in order to thank them on our Twitter. It's a manual process which means that I sometimes overlook contributions. I don't like the type of erasure this can cause.

I'd love if we can use GitHub actions somehow to ensure that I don't skip anyone. I'm not exactly sure what this looks like, but the manual process above

[2020-06-12 22:12] tatianamac opened #215 "🎨 Clean up definition (list style, section breakdowns, etc)"
## Overview
The current list view does not make it scannable when a definition includes bullet styling. I think we need to add that back.

## Needs
- Create new list view that's more scannable
- Stylise research links in a more digestible way

[2020-06-12 22:17] tatianamac commented on #149
Closed per #192 (had to manually close due to main branch name change and new PR opened).

[2020-06-12 22:17] #149 closed

[2020-06-13 02:13] codeAbul commented on #47
@ovlb @tbrasington Created a PR here ( https://github.com/selfdefined/web-app/pull/216 ). Didn't add the clamp sizes, as I need help deciding those values! ( So i don't randomly pick values and ruin the scaling).

[2020-06-13 02:15] codeAbul commented on #47
Also, I haven't created complicated mixins before in sass before. Please let me know if i am using any anti pattern here! Thanks again for the assistance

[2020-06-14 16:12] alexwlchan opened #220 "Suggestion: blindly, blind spot"
* blindly – often used as a synonym for "thoughtlessly"
* blind spot – often used as a synonym for "gap in knowledge"

Both in the neighbourhood of ableism, I feel.

[2020-06-14 17:36] kathryngraysonnanz commented on #214
As a question – do we know everyone _wants_ to be automatically tagged in a "thanks" tweet?

I was thinking about that earlier today, as I worked on the boogaloo definition...I don't think I'd want to be tagged in a tweet that includes the word "boogaloo", or potentially some other ableist / racist slur that I helped define, even if (in context!) it was clear I wasn't really using / associated wit

[2020-06-14 19:31] jlealess opened #222 "Link to "pansexual" definition is broken on homepage"
The link to the definition of `pansexual` from the homepage is broken; it's pointing to `/definitions/pan-sexual/` when it looks like it should be point to `/definitions/pansexual/`.

Affects both links on the homepage:
- Pansexual, and
- Sexual -> Pan

Also impacts link from the `bisexual` definition page

[2020-06-14 20:11] jlealess commented on #222
[Pull request filed](https://github.com/selfdefined/web-app/pull/223) to fix

[2020-06-15 17:10] tatianamac commented on #214
Thanks for the clarification! No, I'm not hoping to suggest someone would be automatically thanked in the post, but rather that the flagging on the backend of GitHub would happen here in the PRs so we don't forget to ask the person permission either way.

[2020-06-15 23:04] amorriscode commented on #206
Nice to see that [GitHub is working on this](https://twitter.com/natfriedman/status/1271253144442253312).

[2020-06-16 22:18] tatianamac opened #224 "✍️ Add 'excerpt' to all words"
## Current Situation
Thanks to a new PR (#182), social/search engine previews now include an excerpt of the definition. However as this is a new feature, many of the defined terms do not have an excertps

## Desired Situation
All terms to have 'excerpt' included and written.

To check a term's current preview excerpt, in your favourite search engine, paste the URL of the term into the search field

[2020-06-17 00:09] tatianamac opened #225 "📝 Revise documentation to include "excerpt" guidance"
Current docs don't include 'excerpt' feature, which adds a preview for links for search engine results pages and social previews.

May also be beneficial to add to #152 .

[2020-06-17 00:23] lkopacz commented on #152
New PR: https://github.com/selfdefined/web-app/pull/226

[2020-06-17 00:38] lkopacz commented on #152
@tatianamac @ovlb  Some thoughts, maybe we could create a few different templates for each type, and make a `templates` folder in the root directory to make it a bit more organized?

- `identity-template.md`
- `slur-template.md`
- `preferable-template.md`
- `appropriative-template.md`

What do you think?

[2020-06-17 00:51] tatianamac commented on #152
I love that! I think that helps a lot! Is that something you have bandwidth for, @lkopacz ? If no, then I say we proceed with closing this PR and open a new issue so someone else can jump on that. I try to keep PRs tidy and relevant so that we can keep them fresh and small (which I think eases the reviewing a bit).

[2020-06-17 00:55] lkopacz commented on #152
Sure, I can update the PR tonight :)

[2020-06-17 07:17] #222 closed, assigned to nobody

[2020-06-17 07:37] ovlb commented on #152
@lkopacz Also really like the idea of giving more copy & pastable material.

What we’ll have to think about is how the examples section in `11ty/documentation/examples` ties into this. I think that one is valuable for folx who discover info through the website rather than the repo. But the `examples` folder in the repo root obviously makes sense as contributors currently have to visit the repo (an

[2020-06-17 17:53] tatianamac commented on #152
@ovlb I think that, if I'm understanding you correctly, that we need to align the documentation with the examples. I'm happy to write guides that fit each of the templates and share strong definition examples.

I'm a little lost on the maintaining both independently aspect of your comment?

[2020-06-17 18:28] SeanKilleen commented on #214
Hi @tatianamac! Love this project and would like to support in at least a small way. I think this issue might be a place where I can jump in.

I think we could use the `mergeable` github bot in combination with some specialized labels to achieve at least a portion of this pretty quickly.

My draft suggestion --

First phase -- use the bot to:

* Label a PR with `AttribtutionType - Pending` (or any

[2020-06-17 18:41] bnb commented on #202
axe Linter would need to be set up by a repo owner since it's a GitHub app. Should be just a few clicks, though!

[2020-06-17 18:51] tatianamac commented on #202
Oh, it's a moot point as it's only free for __personal__ open source projects, not OSS that are on organisation accounts. 😅😭

[2020-06-17 18:52] greatislander commented on #202
Dang.

[2020-06-17 20:06] ovlb commented on #152
@tatianamac The maintenance part aimed at having example files in the root of the repo, while also having the documentation (https://www.selfdefined.app/documentation/examples/)  where we have annotated examples, we need to keep them in sync.

[2020-06-17 22:40] tatianamac commented on #152
Gotcha! I think we can make sure to do that? It makes sense to try to find a way to connect them, but I don't see the templates changing so drastically that it'll be an issue? (I want to make sure I'm not missing anything).

[2020-06-18 01:44] tatianamac commented on #214
@SeanKilleen I'd love your help with this!
I'm wondering if instead of having the workflow change from when a PR is opened to when it is "approved?" For any PRs that are duplicates or closed for any other reason, this would become mute.

If that works for you, I'd love to see a PR from you!

Also, we invite everyone who contributes to our [Slack community](https://join.slack.com/t/selfdefined/shar

[2020-06-18 13:29] SeanKilleen commented on #214
@tatianamac I'm fine with that suggestion in theory but not sure the tools I mentioned have existing support for it. I'll try to confirm.

Is it more important to you at this point to have it happen only on approvals or to get a system in place? If it's the latter, I can get the system I outlined above in place and then we can iterate on it.

[2020-06-18 17:14] tatianamac commented on #214
Sure. The latter is fine if the former isn't possible.

[2020-06-18 19:56] tatianamac commented on #206
@amorriscode For sure. It's helpful when we can make systemic change. Hopefully the addition of the definition will help to provide context for folks.

[2020-06-18 20:15] tatianamac opened #229 "✍️ Add definition for "womxn""
⚠️ CW: transmisic terms
---
I've read a lot around this, and I think having a nuanced take on:
- Where the term comes from
- How it's used
- How many gnc, non-binary, and trans folks actually don't care for it at all
- Nuance between womyn/wombyn

Some starting points:
https://www.reddit.com/r/asktransgender/comments/6l41jo/is_womxn_or_womyn_specifically_terf/
https://everydayfeminism.com/2015/05/

[2020-06-19 01:42] daisylb commented on #229
I'll put my hand up as a trans woman _and_ non-binary person who'd be willing to at least provide input. If I get a chance before someone else does I may write it as well.

That said, I won't assign myself because I don't want someone else to come along and _not_ write it while it languishes in my to-dos underneath a million other things (I'm this year's PyCon AU conference director and [our CFP i

[2020-06-19 03:53] tatianamac commented on #229
@excitedleigh The AAAAAA was so relatable! 😅 Would you feel comfortable being the sensitivity reader if someone else is able to write? (Ofc I would love if you can write and also understand the long to do list?)

[2020-06-19 04:55] tatianamac opened #230 "🌐 Translations el_GR"
Καλώς ορίσατε! If you would like to help translate words into Greek, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words. (Mirrored list below)
2. Read our [Contributing Guidelines](https://github.com/tatianamac/selfdefined/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with you

[2020-06-19 05:38] daisylb commented on #229
Absolutely 👍

[2020-06-19 22:26] ewuska opened #234 "Define astroturfing"
@tatianamac [requested on Twitter](https://twitter.com/_ewus/status/1259257599675031553) any interesting terms that people came across and would like defined. Long ago, I wrote a small [Dictionary of Digital Humanities](https://medium.com/dictionary-of-digital-humanities) and before retiring it I would like to donate any definition that could make sense for Self-Defined or at least bring inspirati

[2020-06-20 00:32] tatianamac commented on #234
Hi @ewuska ! So glad to have you here. I didn't know about astroturf and I could see how this would be helpful.

Is this something you'd feel comfortable converting into our markdown format to submit a pull request? If not, no worries, I can file it as an open issue and have someone else do it.

Also we'd love to invite you to our [Slack community](https://join.slack.com/t/selfdefined/shared_invit

[2020-06-20 00:34] #206 closed, assigned to nobody

[2020-06-20 07:09] ovlb commented on #234
Hey @ewuska,

This dictionary of yours is such a cool project. Thanks for your kind donation :) If you need any help working with the Self-Defined codebase, please let us know.

[2020-06-20 08:05] MatthewShields commented on #142
@tatianamac I think we can mark this issue as closed now?

[2020-06-20 08:07] MatthewShields commented on #128
@lkopacz if there's anything I can do to help with this let me know :)

[2020-06-20 08:08] ovlb commented on #142
@MatthewShields I’ve linked the PR so that both open issues get auto-closed.

[2020-06-20 15:48] yannletiec commented on #198
Hello,
Thanks a lot for taking the time to answer my suggestion and pointing out the terms to avoid using.
I am actually part of an amateur theater group in Montreal, Canada and we're preparing a production of the play Gas Light.
To my knowledge, the film is no different that the play and the man does not change the lights at all, so the depiction of the events is not true. The lights vary in inte

[2020-06-20 18:06] #142 closed

[2020-06-20 18:06] #155 closed

[2020-06-20 19:40] ovlb opened #236 "`rel` attribute for external links"
In the discussion of #218 @sarenji discovered that we were using malformed `rel` attributes on external links. I think we should reevaluate the usage of `noreferrer`. Using `rel` with this value hides Self-Defined from pages that are visited through us. Is that something we want?

Besides that, what we should add is `noopener` as this has a real [performance benefit](https://jakearchibald.com/2016

[2020-06-20 19:44] tatianamac opened #237 "✏️ Revise “Boogaloo” to include add’l insights"
Emily Gorcenski [wrote a thread](https://twitter.com/emilygorcenski/status/1274397918838087681?s=21) that we could incorporate into the definition.

[2020-06-20 20:12] SeanKilleen commented on #214
Some updates on this -- hasn't gone quite as smoothly as I thought it would, but I've got some next steps to try.

* I looked into the `mergeable` probot app but it wasn't as currently supportive of doing what we want with labels, even though the trigger piece could have worked.
* looked into the `probot-require-label` app, which does what we need it to do at a pull request (not approval) granular

[2020-06-20 22:14] ewuska commented on #234
Thank you @tatianamac and @ovlb! I've selected 20-ish terms that may have Self-Defined potential.  

Right now I can't submit PRs because I’m dealing with lockdown issues consuming my time and, most importantly, I think the definitions will need iteration in both writing and editorial. Some may be too far from S-D purpose and thus should be rejected or left in hiatus!

Thank you for the hard work.

[2020-06-20 22:26] sarenji commented on #236
I think `noreferrer`/`noopener` only really needs to be set when the link also has `target="_blank"` for security and performance reasons. Some good news: `rel="noreferrer"` also implies `rel="noopener"`. [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react/issues/2022) has a good discussion on the spec & legacy browser support. So we just need to pick between `noreferrer` and `n

[2020-06-21 12:04] ewuska opened #238 "Define cultural hegemony"
Submitting for consideration the following term and definition draft from the [DDH](https://medium.com/dictionary-of-digital-humanities):

**Cultural Hegemony**
The domination of a society by a social class that manipulates its cultural values and objects, so that social class’ view becomes the cultural norm for the whole society.
_Term coined by [Antonio Gramsci](https://en.wikipedia.org/wiki/Ant

[2020-06-21 12:18] ewuska opened #239 "Define nerd"
Submitting for consideration the following term and definition draft from the [DDH](https://medium.com/dictionary-of-digital-humanities):

**Nerd**
An overly intellectual person, usually obsessive or lacking social skills, focusing their interests on non-mainstream activities, generally highly technical or related to fiction or fantasy narratives. It is used as a stereotype for either derogatory o

[2020-06-21 12:27] ewuska opened #240 "Define algorithmic opacity"
Submitting for consideration the following term and definition draft from the [DDH](https://medium.com/dictionary-of-digital-humanities):

**Algorithmic Opacity**

The effect of an algorithmic system designed in a way that makes difficult to explain why a certain decision was made by it.

An algorithmic system may be kept opaque deliberately to conceal how it operates, unintentionally due to the e

[2020-06-21 12:43] ewuska opened #241 "Define egonomics"
Submitting for consideration the following term and definition draft from the [DDH](https://medium.com/dictionary-of-digital-humanities):

**Egonomics**
The investment in time, effort, and money done by people to manage personal and professional online reputations.
_Term coined by [Thomas Schelling](https://en.wikipedia.org/wiki/Thomas_Schelling)_

[2020-06-21 12:55] ewuska opened #242 "Define monoculture"
Submitting for consideration the following term and definition draft from the [DDH](https://medium.com/dictionary-of-digital-humanities):

**Monoculture**
State of culture in which there is a relevant lack of diversity in cultural objects produced, both by organizations and audiences.

[2020-06-23 07:25] CanadaHonk opened #244 "Ableist language file is misspelled as 'ablelist-language.md'"
(able**l**ist, shouldn't have an l? Not 100% sure but probably a mistake.)

[2020-06-23 07:30] ovlb commented on #244
@Oj18 That’s quite true. Do you feel comfortable opening a pull request to adress this issue? No worries, if not :)

[2020-06-23 07:31] CanadaHonk commented on #244
Sure, I can make one later today (but have work for a couple hours so it'll be in a while).

[2020-06-23 07:35] ovlb commented on #244
That’s totally fine, these bugs don’t run away :)

[2020-06-23 07:35] ovlb commented on #244
I’ll assign this issue to you, so that folx know it’s taken.

[2020-06-23 21:08] tatianamac commented on #236
We can fix this; this was an error on my part. For posterity, I found this [article](https://web.dev/external-anchors-use-rel-noopener/) helpful, and will place here in case this is brought up again in the future.

On another note: [nofollow](https://support.google.com/webmasters/answer/96569?hl=en), for instance, might be a better replacement:

- [ ] Remove any rel links
- [ ] Add to documentatio

[2020-06-24 17:32] CanadaHonk commented on #244
Sorry was busy, doing now.

[2020-06-24 17:54] CanadaHonk commented on #244
Also, @ovlb for some other issues like misspelling and also adding new definitions should a new issue be opened, then a pull request or can it be just a pull request? Thanks.

[2020-06-24 18:05] CanadaHonk commented on #244
(Because in "white feminism" ableist is also spelt "ablelist" - should I make a new issue then PR or just do a PR?)

[2020-06-24 18:06] #244 closed, assigned to CanadaHonk

[2020-06-24 18:37] tatianamac opened #246 "Add Frequently Asked Questions (FAQ) to contributing guidelines/documentation"
When should I open an issue versus a PR?

Open PR

- Correct misspellings
- Fix broken links
- Add definitions/nuance/translations to words that exist on the site already but are undefined/partially defined/could use more nuance
- Resolve issues that already exist

Open Issue
- Concern or question around a term that you don't have clear prescriptive feedback around
- Adding a new term that is not

[2020-06-25 00:02] tatianamac commented on #197
Awesome! @codeAbul Should I mark this as In Progress yet?

[2020-06-25 03:25] codeAbul commented on #197
@tatianamac I am yet to start work on this. Is there any designer in our community you suggest I pair up with for this task? Thank you

[2020-06-25 07:39] sarenji commented on #236
That checklist sounds good to me! I don't know enough about SEO to have an opinion about `nofollow`.

[2020-06-25 09:11] ovlb commented on #236
Checklist looks good, yes. I’d say the addition of `nofollow` makes the most sense in the definition content and further reading sections, as we may link to sources that we do not necessarily want to be associated with. It’s pretty straight forward for further reading. For the content itself less so, as we have to write a plugin for `markdown-it`

[2020-06-25 09:43] ovlb commented on #197
I’ve been thinking about this feature recently and was wondering if it might be too early to implement it. We currently show some 300 terms on the homepage, out of which ~70 are defined. Now, by browsing the page you would inevitably come across a whole host of undefined terms, for which you only see the remark. I wonder if this might deter people from using the dictionary, as it’s kinda hard to f

[2020-06-25 09:47] ovlb commented on #244
@Oj18 I second the answer of Tatiana in your PR :)

[2020-06-25 15:43] tatianamac commented on #197
Sure, I see your point, @ovlb . In my mind the homepage should be redesigned anyway, as in its current iteration it's not sustainable.

I personally see that as the determing factor as to when this should be implemented, not a number of terms.

I'm hesitant to adding yet even more icons when the current page is already flooded with icons.

I think our attention is best focused on making the homepa

[2020-06-25 16:04] ovlb commented on #197
That’s definitely correct.

Also agree that a redesign of the homepage makes sense as a determining factor. The number of terms consideration was based on the status quo, but if it changes, that’s a moot point.

I’ll nonetheless revive our less-technical contribution processes asap :)

[2020-06-26 21:55] Pythonidaer commented on #229
If too much time passes before a definition is created please let me know if you would like any help. I have close friends in the LGBTQ community who could help and I could use the information learned from them to cross confirm here. I'm glad to see many up to the task already. If there's any way I can help, feel free to let me know.

[2020-06-27 23:03] JGibson2019 opened #249 "Readme.md typo for Code of Conduct section"
Need to change `Contributor Convenent` to `Contributor Covenant` to reflect appropriate spelling

[2020-06-30 10:00] #249 closed, assigned to nobody

[2020-07-01 17:56] arielsilvestri commented on #239
Hello y'all! I intend to give this definition a submission in the coming days

[2020-07-01 18:53] wuz commented on #202
@tatianamac I'd like to tackle adding some accessibility linting to the project with Github actions (I'm planning to do a stream tomorrow over this). Is that something you still are interested in, even though axe linter won't work?

[2020-07-01 21:04] tatianamac commented on #202
@wuz Yes! I'd love that! Especially if it helps us to streamline/close this linting issue and reincorporate it back into our documentation. ✨ I'm going to assign this to you and mark it as in-progress (we can take it off if you change your mind).

[2020-07-02 07:09] oorestisime commented on #230
Ok so i have to start somewhere so i ll start from ok-sign, cisgender, barbaric!

[2020-07-02 13:46] wuz commented on #202
Awesome thanks!

[2020-07-02 18:07] tatianamac commented on #230
@oorestisime Great! I moved them into an in-progress section above.

[2020-07-04 19:41] sridhar02 opened #254 "can we add some commonly used software acronyms in this modern dictionary?"
* FOMO - Fear of Missing Out
* EOD - End of the day
* MVP - minimum viable project
etc ...

[2020-07-10 19:42] lorarjohns commented on #96
@tatianamac I have a lot of background in linguistics, information organization and retrieval, and machine translation (and the bias that comes along with all those things) and would love to help out on this and related issues.

[2020-07-10 20:17] tatianamac commented on #96
@lorarjohns Would love your help! You're welcome to our [Slack community](https://join.slack.com/t/selfdefined/shared_invite/zt-fczgm8b6-8ZZgHvLutNDXo~NjwaL7Iw) if you'd like! Otherwise feel free to add any thoughts/insights here for this task!

[2020-07-12 14:16] Ryuno-Ki opened #255 "Guys / Gals vs. Folks"
Dear @selfdefined app team,

the other day, I got aware of https://heyguys.cc, which source code can be found on https://github.com/williln/heyguys.cc
Since you collect … potentially problematic terms, I want to raise your awareness and ask @williln whether she wants to propose her idea to your dictionary (or link back?).

[2020-07-12 15:44] donnavitan commented on #246
Did you want to start an FAQ section under the "Development & Build" or "Documentation?

[2020-07-13 18:09] tatianamac commented on #255
Hi, @Ryuno-Ki Thanks for reaching out. I think that the best way would be for us to craft a definition in our approach and include a link to that site in our "Further Reading" section.

A similar term is [dude](https://www.selfdefined.app/definitions/dude/), so likely "guys" would adopt a similar structure as it has similar issues.

Would love if you're willing and able to open a PR up for that te

[2020-07-15 19:06] Ryuno-Ki commented on #255
Hi @tatianamac,

Hm, since I did not came up with that site, I'm not sure, whether I'd be able to fill all the blanks.
I could see some areas in the „dude” example, where I wouldn't know what to write (resp. copy-paste).

Can it be done collaboratively and iteratively?
Would love some help there from the community.

[2020-07-17 21:59] tatianamac commented on #255
Hi @Ryuno-Ki . Yes, absolutely. You can either submit the definition as an issue or as a PR and we can help you along the way!

Also if you'd like, we have a [Slack community](https://selfdefined.slack.com/admin/invites) as well.

[2020-07-19 14:23] Ryuno-Ki commented on #255
Well, okay. Let's try https://github.com/selfdefined/web-app/pull/259

I'm avoiding Slack outside of work, since it turned into a time sink for me.
But thanks for the offer.

[2020-07-24 13:04] thejoycekung commented on #224
Hi! I'd like to try helping with this! I don't know if I can do all of these in one PR but I think I can at least do some. I had a question though: Is #227 related to this as well?

I also noticed in that PR there are excerpts added for `-misia`, `ableism`, and `barbaric`. Does that PR block work on this issue + can we remove those terms from this to-do list?

[2020-07-24 13:31] ovlb commented on #224
Hey @thejoycekung, and welcome to Self-Defined!

PR #227 is adding the infrastructure to use the excerpts in social media previews. It does not strictly block writing of them, though. Adding them before #227 is finished will not break anything.

You are right, we can cross the ones already added in the PR off the list.

Regarding all in one go: That’s definitely no must. In fact, this tracking iss

[2020-07-24 13:40] thejoycekung commented on #224
Hi @ovlb, thanks for clarifying! I saw the Slack community being mentioned around other issues/PRs, but I couldn't find any mention of it in the main docs - your invite link seems a little broken though :(

[2020-07-24 18:37] tatianamac commented on #224
@thejoycekung It's my fault. I haven't gotten a chance to add it to our documentation. 😭 It's on my long list of things to do, thanks for the reminder!

[2020-07-29 20:03] Ryuno-Ki commented on #255
Friendly ping

[2020-08-05 17:03] ericwbailey opened #269 "Suggestion: spiritual bypassing"
As per John Welwood, by way of [Psychology Today](https://www.psychologytoday.com/us/blog/the-empowerment-diary/201901/what-is-spiritual-bypassing): “using ‘spiritual ideas and practices’ to sidestep personal, emotional ‘unfinished business,’ to shore up a shaky sense of self, or to belittle basic needs, feelings, and developmental tasks.”

In addition to concerns around emotional labor, there is

[2020-08-20 23:22] tatianamac commented on #269
@ericwbailey If you'd like to ghostwrite it, we can check in our review to make sure it's sensitivity-read!

[2020-08-20 23:38] tatianamac commented on #242
I think this is a good candidate for defining!

[2020-08-21 16:16] tatianamac commented on #254
Hi @sridhar02 ! Acronyms are definitely hard to parse for folks who are unfamiliar. With that said, I'm not sure these acronyms fit into the overarching scope of this dictionary. I'll share with the group to see if they have good suggestions as to where to put these instead or if there's another, more appropriate resource for them!

[2020-08-21 16:20] #254 closed, assigned to nobody

[2020-08-22 13:44] ovlb opened #271 "🐛 Broken List Display in Southeast Asian Definition"
The country list in the [definition of souteast asian](https://www.selfdefined.app/definitions/southeast-asian/) is forced into the first grid column, making it too small to read. We’d probably need to update the sibling selectors in the definition content CSS to move them to the second column or let them spread across two columns.

[2020-08-22 19:34] eveline-xie commented on #242
Hi Tatiana, this is my first time contributing! I would like to add the above definition to the app.

[2020-08-23 17:35] ajtran303 opened #274 "Help Wanted: Define APIDA"
APIDA is an acronym that stands for: `Asian Pacific Islander Desi American`

APIDA can be used to explicitly include intersections of Pan-Asian identity that are often left in the margins of representation.

Usage:
- [In this book, _Bridging Research and Practice to Support Asian American Students_](https://books.google.com/books?id=xURKDwAAQBAJ&pg=PA12&lpg=PA12&dq=APIDA+acronym&source=bl&ots=YcLh

[2020-08-23 17:38] ajtran303 commented on #274
I am looking for help from the APIDA community here to discuss how to add this terminology to the database and the specific wording that should be added.

[2020-08-23 18:10] ajtran303 commented on #274
I think that the Virginia Library has a really good definition:

Would we be able to submit (maybe a modified version of) that, and attribute it in the dictionary?

[2020-08-24 13:18] ellenmacpherson opened #275 "Revise spelling of antisemitism."
At the moment it looks like the term antisemitism is rendered as two words separated by a hyphen (anti-Semitism). Proposing that we revise it to be unhyphenated (antisemitism).

There's considerable concern around the hyphenated spelling as it "allows for the possibility of something called ‘Semitism’, which not only legitimizes a form of pseudo-scientific racial classification that was thoroughly

[2020-08-24 13:54] ajtran303 commented on #274
It's worth being explicit -- APIDA is NOT just people living in America!!!

[2020-08-24 17:41] #179 closed

[2020-08-24 17:41] #225 closed, assigned to nobody

[2020-08-24 21:24] tatianamac commented on #275
Thank you for opening this issue, @ellenmacpherson ! I've shared it with our Slack community and asked for Jewish folks to provide insights in particular.

[2020-08-24 21:28] tatianamac commented on #274
@ajtran303 I'd be happy to help you to edit this if you're able to take a first pass at writing the definition. We can put a word out to ask folks to review.

[2020-08-24 22:52] ovlb commented on #255
@Ryuno-Ki I’ve asked for feedback in Slack to bring some live into your PR :)

[2020-08-25 23:21] amaralynch opened #277 "Typo in dude entry"
While our intent may be to make people feel at east or comfortable

Should be “at ease or comfortable”

[2020-08-25 23:27] #275 closed, assigned to nobody

[2020-08-26 00:14] ellenmacpherson commented on #205
Happy to take this on if no-one else is working on it!

[2020-08-26 00:15] tatianamac commented on #205
It's yours, @ellenmacpherson ! 💙

[2020-08-26 00:17] tatianamac commented on #277
@amaralynch Thanks for submitting! Do you feel comfortable submitting a PR for this?

[2020-08-26 00:59] amaralynch commented on #277
Sorry.  I'm not familiar with how github works.  What's a PR?

On Tue, Aug 25, 2020 at 8:17 PM Tatiana Mac <notifications@github.com>
wrote:

[2020-08-26 01:05] tatianamac commented on #277
No sorries! If you'd like to submit what's called a "pull request" (or PR), it requires knowing a little bit of code—we're here to help!

If this isn't something you're interested in, no worries at all, we can have someone else fix it! Mostly I wanted to give you the option without pressure! ✨ Either way we appreciate you submitting the issue!

[2020-08-26 01:11] amaralynch commented on #277
Sure!  Always game to learn something new :)

On Tue, Aug 25, 2020 at 9:05 PM Tatiana Mac <notifications@github.com>
wrote:

[2020-08-26 01:54] tatianamac commented on #277
Awesome! Our [contributing guidelines](https://github.com/selfdefined/web-app/blob/prod/CONTRIBUTING.md) should hopefully give you a place to start!

Also, we have a [Slack community](https://join.slack.com/t/selfdefined/shared_invite/zt-fczgm8b6-8ZZgHvLutNDXo~NjwaL7Iw) that you can join if you'd like to pair program with someone or get support!

[2020-08-26 02:41] tatianamac commented on #181
@Pythonidaer Hi there! Are you still interested in submitting a PR for this? (I'm going through backlogs of issues to keep everything current!)

[2020-08-26 10:26] tatianamac opened #278 "🌐 Translations ar"
أهلاً وسهلان
If you would like to help translate existing words into Arabic, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.
2. Read our [Contributing Guidelines](https://github.com/tatianamac/selfdefined/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with your translations

[2020-08-26 10:28] ajtran303 commented on #271
I love CSS!

[2020-08-26 10:28] tatianamac opened #279 "🌐 Translations pt_PT"
Bem-vinda!
If you would like to help translate existing words into Portuguese, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.
2. Read our [Contributing Guidelines](https://github.com/tatianamac/selfdefined/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with your translatio

[2020-08-26 11:46] tatianamac opened #280 "🚩 Include flag context in excerpt"
## Current Behaviour
The excerpt, which is used for social media and search engine previews, currently automatically prepends the word "avoid" if a term should be avoided and has an "avoid" flag in its definition.

## Desired Behaviour
The excerpt could also append the circumstances, such as "avoid: racist term."

## Notes
- See #262 for further details.

[2020-08-26 16:39] ovlb opened #282 "🍑 Set up API"
Discussions regarding the set up of the Self-Defined API have been moved to the dedicated repository: https://github.com/selfdefined/api/issues/2

[2020-08-26 17:33] tatianamac commented on #282
Thanks, @ovlb !(I'm curious when we'll close this issue? Are we in issues inception now? 😂)

[2020-08-26 22:04] ovlb commented on #282
@tatianamac I'm not sure yet. But it feels like we’re on the way. Maybe if we manage to close this issue via our API and it automatically opens a follow-up?

On a more serious note: should we move the other issues revolving around the API like #12, too?

[2020-08-26 22:09] Pythonidaer commented on #181
I’m really sorry Tatiana, but I’m gonna have to bow out of contributing to
this project. Too many things I’m working on right now.

On Tue, Aug 25, 2020 at 10:41 PM Tatiana Mac <notifications@github.com>
wrote:

[2020-08-27 18:28] amaralynch commented on #277
Thanks, Tatiana--Just took a look at the contributing guidelines and I'm
afraid it's more learning than I have capacity to take on in the moment!
Sorry to back out!  Hope to be able to circle back to it at some point.

Best,
Amara

On Tue, Aug 25, 2020 at 9:54 PM Tatiana Mac <notifications@github.com>
wrote:

[2020-08-27 22:34] tcober opened #283 "Suggestion: Baldy / Skinhead"
These are common and are hurtful epithets for bald people and people with alopecia. Weirdly there is very little writing or advocacy against this type of discrimination. I would love to see them added in some way to help bring awareness. I would gladly hear suggestions for how they should be included. I may even try and pick this issue up myself and open a PR if I am confident I can contribute cor

[2020-08-27 22:50] #242 closed, assigned to nobody

[2020-08-28 08:55] ex-shomveerkherwa commented on #277
Hi @tatianamac
I would like to to make the change and submit a PR, where do I begin?
Thanks

[2020-08-28 15:08] #277 closed, assigned to nobody

[2020-08-28 17:10] tatianamac commented on #215
#271 Connects to this issue.

[2020-08-29 18:13] yourpalkat commented on #280
I can take this one on, if no one minds! Nice way to ease into remembering where everything lives in 11ty.

[2020-08-29 19:01] ovlb commented on #280
@derekmurr Go for it :)

[2020-08-29 19:05] mannybecerra commented on #246
This FAQ content ^ helped me decide on whether or not to create [PR 285](https://github.com/selfdefined/web-app/pull/285) - gracias!

[2020-08-29 20:26] tatianamac commented on #246
@donnavitan Sorry for missing this comment! I think I'd honestly like a FAQ would serve both areas! In general I'd like even an FAQ PAGE that has frequently asked questions (selfishly, a lot of it is questions that I get asked via DMs, emails, etc could be addressed here).

I'm happy to provide more context here. Is this something you'd be willing to take on? @mannybecerra  Don't know if you'd be

[2020-08-29 20:39] mannybecerra commented on #246
I'd be happy to assist here. @donnavitan I can follow your lead here with @tatianamac 's direction or in whatever other way y'all fancy to approach this. On standby...

[2020-08-29 20:49] tatianamac commented on #246
@mannybecerra As I'm not positive if @donnavitan is around here, would you be open to opening a PR to address this? From there we can see if @donnavitan is available to contribute and provide more context/edit as they're able?

I think this way we'll keep things moving while respecting both Donna's participation if so chosen.

[2020-08-29 21:04] dasilvacontin commented on #164
Hmm, it sounds like it could be useful to be able to define groups of words that are equivalent across languages. Like, to have this "knowledge" file that groups words that are equivalent across languages.

That way, if there's already a group of 5 words that are equivalent, and you want to add a new one (e.g. the Korean version for that word), you would only need to add the word to the pertinent

[2020-08-29 21:14] dasilvacontin commented on #215
Hello @tatianamac!

![image](https://user-images.githubusercontent.com/1260830/91646203-aa0ee500-ea44-11ea-9d77-1e047ed911fa.png)

This is the issue you are referring to, right?

And what do you mean with "research links"? Is it the links within the "FURTHER READING" section?

[2020-08-29 21:20] mjoynes-wombat-web opened #286 "The flag in "psychopath" has a type value and it should be text instead."
The psychopath definition has a flag which has a type. This key should be text instead.

https://github.com/selfdefined/web-app/blob/prod/11ty/definitions/psychopath.md

[2020-08-29 21:20] mjoynes-wombat-web commented on #286
I will claim and fix this.

[2020-08-29 21:23] tatianamac commented on #286
Thank you, @ssmith-wombatweb !

[2020-08-29 21:23] mannybecerra commented on #246
Absolutely, agreed @tatianamac . I'll get on it and reach out with any Qs along the way. ¿Bueno?

[2020-08-29 21:26] mjoynes-wombat-web commented on #286
Do I close the issue before or after the pull request is accepted?

[2020-08-29 21:42] dasilvacontin commented on #183
It looks like @tbrasington has been working on over this at https://www.figma.com/file/yRxihnosfvOWrLng7KkfF0/Design-System?node-id=101%3A2834, with progress/ideas done on:
- Search bar for the homepage
- Categories and Flags filter
- Language toggle in the footer
- And About page

[2020-08-29 21:56] mjoynes-wombat-web commented on #170
If we use the proposed data structure both items should be able to be accomplished. There would be a table to Alt Words and a table for Alt Word Groups. I will provide a MySQL ER diagram to illustration the relationships.

Alt Words Data Structure
[code]

Alt Word Groups Data Structure
[code]

[2020-08-29 21:58] dasilvacontin commented on #128
@tatianamac I'm confused in regards to "Bringing tag design into the individual definition.njk template". Tag design?

[2020-08-29 22:04] #286 closed, assigned to ssmith-wombatweb

[2020-08-29 22:11] tatianamac commented on #128
@dasilvacontin Sure, happy to clarify. The below screenshot captures the current tag design.
<img width="973" alt="image" src="https://user-images.githubusercontent.com/7484549/91646951-cc374180-ea09-11ea-82a4-18bf65758f6f.png">

The below screenshot captures the "warning" design in the definition context:
<img width="826" alt="image" src="https://user-images.githubusercontent.com/7484549/91646958

[2020-08-29 22:24] tatianamac commented on #282
@ovlb Yes, I will do that.

[2020-08-29 22:30] oakthielbar commented on #224
I would like to add some excerpts.

I noticed when reviewing the current excerpts that they reproduce the first line of the definition. Is that the intended format for excerpts? Some of the definitions lead with a line that explains the purely grammatical and linguistic function of a term without any context, and I worry that a direct copy of just the first line could perpetuate the harmful use of

[2020-08-29 22:32] tatianamac commented on #280
Thank you, @derekmurr ! Let us know if we can support in any way.

[2020-08-29 22:45] #224 closed, assigned to nobody

[2020-08-29 22:46] tatianamac commented on #224
@oakthielbar I regret that I didn't see your notes here. Would you be willing/able to open this as a new issue (you can even copy over what you wrote here), so we I can address specifics in a fresh issue and PR? Apologies for the extra work. 💙

[2020-08-29 23:05] oakthielbar commented on #224
@tatianamac Sounds good to me! It's not much extra work. ❤️

[2020-08-29 23:09] oakthielbar opened #289 "Add attribution to excerpt in ableism definition"
The first line of the body of the definition of ableism is followed by an attribution, but there is no attribution in the excerpt. Given that the excerpt is displayed in isolation, it is effectively claiming the original words of another author.

I believe that this specific situation needs to be addressed with some urgency since this excerpt is currently visible in search results, and to that end

[2020-08-29 23:14] mjoynes-wombat-web commented on #170
# MySQL Data Structure
![MySQL ER Diagram for ](https://user-images.githubusercontent.com/11299714/91647707-aa8e8800-ea12-11ea-8a77-a17f0b171dbc.png)
[Self Defined API MySQL Workbench ER Diagram Zip File](https://github.com/selfdefined/web-app/files/5146104/Self.Defined.API.mwb.zip)

## Diagram Key

|                             Key                              | Description

[2020-08-29 23:14] oakthielbar opened #290 "Excerpt for "barbaric" missing context on harm"
I noticed when reviewing the current excerpts that they reproduce the first line of the definition. Is that the intended format for excerpts? Some of the definitions lead with a line that explains the purely grammatical and linguistic function of a term without any context, and I worry that a direct copy of just the first line could perpetuate the harmful use of some terms.

The current excerpt fo

[2020-08-29 23:40] tatianamac commented on #290
@oakthielbar Thanks for opening this PR. It makes sense to me what you're saying. Another note i want to make is that we're working on automagically prepending the warning flags to words where they exist in #280. I think that addresses some concern.

Would you be willing to open a PR to address this word? If so, I'd be happy to co-author/edit with you. 💙

[2020-08-29 23:40] tatianamac commented on #290
Did not mean to close! 😅

[2020-08-29 23:55] oakthielbar commented on #290
@tatianamac I've opened #293 for addressing this issue.

Prepending warning flags definitely helps to address the concern here. With that in place, it would be clear that an "avoid" flagged word is harmful.

I may be overthinking it, but I think that the excerpts should be highlighting the information that is most pertinent from the definition rather than the sometimes dry and contextless definiti

[2020-08-30 00:18] tatianamac commented on #290
Perfect. I will look at the PR!

We're in agreement about this approach; in reviewing I think I was excited to get the issues fixed and in retrospect should have read more critically. I appreciate your careful thought around this so we can address. I didn't read it as disagreement AND I appreciate your clear communication around it either way!

[2020-08-30 00:26] #290 closed, assigned to nobody

[2020-08-30 00:27] tatianamac commented on #289
In 100 percent agreement, in particular because it could be read as erasure of a Black woman's words, which I do not want to do!

[2020-08-30 00:44] tatianamac commented on #183
Correct, @dasilvacontin! @tbrasington Are you still able and willing to finish this?

[2020-08-30 06:57] tbrasington commented on #183
Yep! I have free time again.

[2020-08-30 13:24] CharlesMangwa commented on #125
Hello! I think I've missed the latest **#SelfDefinedSaturday** but I just figured out that **#SelfDefinedSunday** wasn't a thing (yet!), so here I come!

I just added a few translations and a small change for the existing ones. Here's a quick summary of the respective PRs:

#### Changes ✏️

* Link existing French translations to their English & Dutch counterparts - PR #295 & #303

#### New ✨

* Ad

[2020-08-30 16:48] donnavitan commented on #246
@mannybecerra @tatianamac This is great! Thank you for moving forward. I'm still figuring this out and will contribute!

@tatianamac What's the best to way to collect the FAQ you've received? Without having you do much more work! Could we open a shared Google doc where you can drop the Qs and As, where we can help edit?

[2020-08-30 19:24] mannybecerra commented on #246
@donnavitan hey now—you betcha, team effort! I'd love your [co-lead on curating FAQ](https://github.com/selfdefined/web-app/pull/288#issuecomment-683357085)s for the new page. I think a goal we should strive for, you nailed in your comment: keeping the labor/work on Tatiana's part low-friction. Google doc seems like a good place to centralize this type of dynamic content, especially when we consid

[2020-08-31 05:40] deammer commented on #207
Hi @tatianamac, I'd love to give this a try with #308. Please let me know what you think!

[2020-08-31 16:11] istx25 commented on #125
@tatianamac @CharlesMangwa My french isn't great but I can create pull requests for this if you'd like:

* Crazy = Fou/Folle
* OCD = Trouble Obsessionnel Compulsif
* Savage = Sauvage
* Suicide = Suicide (it is the same spelling, do you still want me to add it?)

Edit: Wait, do you want just the words translated or the whole description? 😅 My french skills aren't that good LOL

[2020-08-31 18:50] CharlesMangwa commented on #125
@non-binary Those definitions aren't available at all in French so it would be great to kickstart them, I'd say! I can support you for the translation/proofreading or provide some help in any other way that you'd deem necessary. Just let me know how I could assist you there! 🙌

[2020-08-31 18:52] istx25 commented on #125
@CharlesMangwa I can probably translate directly from English to French but I won't get the contractions all correct or possibly the sexes(?) of the words. My french isn't great but happy to help!

[2020-08-31 18:57] CharlesMangwa commented on #125
@non-binary Gotcha! Feel free to ping me in your PRs whenever if you'd want a quick proofreading! If I'm not too short on sleep, I should be able to help catch all of those haha!

[2020-08-31 19:46] KatieFujihara opened #309 "Define Pacific Islander"
Differentiate Pacific Islanders (Polynesians, Micronesians, Melanesians) from those who are from countries/cultures that are _technically_ islands in the Pacific (e.x. Japan, Philippines). This term is often misused and erases Pacific Islanders. Tangentially, the misuse of the word Hawaiian when referring to people from Hawai'i who are not ethnically Native Hawaiian.

[2020-08-31 19:53] deammer commented on #125
👋 I'm a native speaker and I'm happy to review any PRs.

[2020-08-31 19:53] tatianamac commented on #309
Thank you, @KatieFujihara, for filing this issue ! I will put the word out on Twitter to see if someone who identifies as such will define. I could see Hawaiian being a second defined term that's linked to this term!

[2020-08-31 20:53] jeevajay opened #310 "AVOID flag is not Inclusive. No CONTEXT definitions will lead to discrimination and alienation."
Hi,

I'm creating this issue to address that how we use flags is concerning. Especially, the usage of the AVOID flag. Based on my concerns, I've been researching and learning to understand it from the perspective of the usage of language and linguistics. Below I've used a few terms I learned to make my case. I don't claim to be an expert in these broad linguistic fields.

**Few definitions to set

[2020-08-31 21:05] tatianamac commented on #310
Thanks, @jeevajay, for this insight and issue!

I've read through and understand where you're coming from and would like to propose the following fixes:
1. **Change "avoid" to the more neutral "flag."** It was created in an isolated manner and its usage has grown to accommodate other types of flags. Addressing this at the code level (where it exists in the actual queries, would solve one aspect of

[2020-08-31 21:36] jeevajay opened #311 "Current page for OCD Definition doesn't address the suffering of people with OCD"
To be clear, I'm fine with the brief definition at the top. But how the page is labeled and the other details underneath the definition is harmful and alienating. For context, please check this another issue first: https://github.com/selfdefined/web-app/issues/310

The Issues section focuses on the context and perspective of some Neurotypical people who misuse the term. It didn't speak about the s

[2020-08-31 21:43] tatianamac commented on #311
@jeevajay Thanks for filing this issue. I apologise for the harm caused by only abuser-centred terminology. The lack of individual perspective you're hoping to add to the term will help to address this; I look forward to your PR.

Re: medical appropriation: I recognise the limitations of the term medical appropriation both as a term and in its current usage. Again, this goes to a broader issue of

[2020-08-31 21:47] tatianamac opened #312 "🐛 Define and reassess flags"
See #310 and #311 . tl;dr is that the flags without context cause harm because people don't know what they mean and without the context of the definition they can cause harm.

**Action items:**
- Assess flags at global full-page view (remove for undefined terms)
- Rename "avoid" within codebase to "flag"
- Add definitions and context for all flags
- Link context for all flags.

[2020-08-31 22:08] jeevajay commented on #310
@tatianamac thanks much for acknowledging the issue and taking immediate actions to address the issue. I agree with the fixes proposed as the next steps.

Regarding "lack of written context", yes it would be very helpful to have a post about how you're approaching this dictionary.

[2020-08-31 22:11] jeevajay commented on #311
@tatianamac thanks again. will share suggested changes over the next few days.

[2020-08-31 23:32] tatianamac commented on #125
@deammer Let me know how many you're able to take on and I can assign them to you (if you look above they're all neatly linked).

[2020-09-01 04:00] deammer commented on #125
@tatianamac I'm happy to go through all of @CharlesMangwa's PRs!

[2020-09-01 06:25] CharlesMangwa commented on #125
@deammer I'm really grateful for all the time you took to go through my entire PRs!!

I updated them with the latest state of `prod` and corrected all the typos you found.

Your different suggestions were also super great additions to the translations so I directly added all of them.

Huge thank you once again! 💫

[2020-09-01 07:58] codemacabre commented on #311
@jeevajay As the original author of the OCD definition, I also wanted to thank you for bringing this to my attention and apologise for harm I caused. As a sufferer of OCD, the impetus to write this definition was fuelled by an increasing number of personal experiences where the term was misused and created an unsafe space for me. I am still coming to terms with discussing it publicly and when I wr

[2020-09-01 16:55] jeevajay commented on #311
@CodeMacabre Hi Myles, as I acknowledged in the msg I completely understand your pov. Looking forward to working with you. I have DMed you on the Slack. Thanks much.

[2020-09-01 18:21] tatianamac opened #313 "⚒️ Set acceptance criteria for pull requests"
Currently pull requests do not have written criteria around them.

Setting some written criteria would help to eliminate PRs that aren't quite ready AND to provide clearer guidance for new contributors (and new-to-OSS contributors).

**A few non-exhaustive notes:**
- Editorial guidelines
- Linting
- Commit notes

[2020-09-01 18:25] ovlb commented on #313
I can formalise the things I look for before approving a PR over the next couple days.

Where do you envision these guidelines to live?

[2020-09-01 18:28] tatianamac commented on #313
That'd be helpful if you could backdocument those here—thanks!

Documentation, which is going to be my focus for the next few weeks. In addition to the technical aspects, I'd like to reduce barriers to entry while making more clear what editorial content will be accepted and what will be rejected and on what premise.

[2020-09-01 18:39] kkemple commented on #313
I wonder if issue and PR templates could help with this as well!

[2020-09-01 19:03] tatianamac commented on #313
@kkemple Yes, good idea! I had started issue templates awhile back and forgotten!

[2020-09-01 19:32] tatianamac commented on #313
**Re: pull request acceptance:**
- Minimum two reviewers (exceptions noted below)
- For definitions: If not written by someone who identifies as or is most impacted by the term, then one reviewer must and act as a sensitivity reader

**Exceptions**
- Typos
- Broken links

[2020-09-01 19:39] #280 closed, assigned to yourpalkat

[2020-09-01 20:03] ovlb commented on #313
This is a first batch of things I tend to look out for when reviewing code-centric PRs. Quite a bit, actually. Might rewrite/add to this list in the upcoming days. So consider it a working draft. :)

- _Does the feature work/is the bug fixed?_ This might be obvious, but especially a more complex feature might need more than one dev/review cycle. So not every review needs to end in acceptance. And

[2020-09-02 03:25] jeevajay commented on #269
Hi @ericwbailey, sorry it took me a few days to get to this. I was focusing on some other issues. I reviewed the #292 and as someone with experience of being on the receiving end of toxicity this creates, I'm affirmative of your definition and how Indian Culture and Hinduism predominantly contribute to it.

But, when setting my experience aside, I'm not sure whether this would educate or it would

[2020-09-02 04:30] tatianamac commented on #125
@CharlesMangwa Thank you so, so much for all of the work you put into all these translations. They read lovely (with my limited French!). I went through and provided small edits (mostly lowercasing all terms and adding French-language references (where you already included them).

As a general rule, I love when we can include references in the same language as the definition. It enrichens the pers

[2020-09-02 04:33] tatianamac opened #317 "🌐 Main translation list"
## Languages Underway

- Arabic [ar](https://github.com/selfdefined/web-app/issues/278)
- French [fr_FR](https://github.com/selfdefined/web-app/issues/125)
- Greek [el_GR](https://github.com/selfdefined/web-app/issues/230)
- Dutch [nl_NL](https://github.com/selfdefined/web-app/issues/318)
- Italian [it_IT](https://github.com/selfdefined/web-app/issues/428)
- Portuguese (Brasil) [pt_BR](https://git

[2020-09-02 04:49] tatianamac commented on #164
@dasilvacontin I agree. I'm worried about how a couple of things:
1. maintain autonomy within each languages
2. decentralise any one language (i.e., not everything should be anchored in English) as some terms will exist in some language subsets and not others.

**Questions**
How do we create these groupings without selecting a "base" language?
What considerations should we have for when we have th

[2020-09-02 05:32] tatianamac commented on #215
Correct on both counts. I think the list styling for both areas could be improved as part of this as well:

<img width="801" alt="Further Reading and Alt words sections with words separated by semicolons, which is illegible" src="https://user-images.githubusercontent.com/7484549/91935611-f2c3d980-eca2-11ea-91ed-f017e0b18d54.png">

[2020-09-02 05:43] tatianamac opened #318 "🌐 Translations nl_NL"
If you would like to help translate existing words into Dutch, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.
2. Read our [Contributing Guidelines](https://github.com/tatianamac/selfdefined/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with your translations.
5. Invite a

[2020-09-02 05:46] #289 closed, assigned to oakthielbar

[2020-09-02 06:05] CharlesMangwa commented on #125
@tatianamac I'm really happy to be helpful here! I just pushed differents commits with all the changes you mentioned. Unless I missed something -and please let me know if that's the case 🙈- I think all of them have been implemented.

I completely follow you with the idea to enrich the content and probably widen our understanding of each definition with theses resources and references. I forgot tha

[2020-09-02 17:43] jeevajay commented on #311
@CodeMacabre Hello Myles, when I responded yesterday to your msg, I was in a hurry to attend a webinar. I want to acknowledge a few things:

1. Your personal experiences matter very much.

2. Medical Appropriation and Misuse is real and hurts a lot of people. It should be one of the issues discussed on the page.

3. Speaking about suffering from OCD in public is very scary. So, I applaud for takin

[2020-09-02 20:50] tatianamac commented on #97
Repinging this thread now that we have `selfdefined` on its own repo

[2020-09-02 21:00] #239 closed, assigned to nobody

[2020-09-02 21:10] arielsilvestri opened #319 "Define "Blerd""
Based off on discussion on #267

[2020-09-02 22:46] tatianamac opened #320 "Define 'grandfathered in'"
Grandfathering comes from the [Grandfather Clause](https://en.wikipedia.org/wiki/Grandfather_clause) of the Jim Crow Era. Grandfathering is what disenfranchised Black voters.

Colloquially it is used (especially in business contexts), to mean adopted in with old rules when new rules apply elsewhere.

Helpful references:
https://www.npr.org/sections/codeswitch/2013/10/21/239081586/the-racial-histor

[2020-09-03 00:42] ericwbailey commented on #269
Thank you for the review, and for the crit, @jeevajay. Please, take all the time you need.

[2020-09-03 22:26] jeevajay commented on #269
I have added my thoughts on #292

[2020-09-06 17:48] ajtran303 commented on #271
Hi folx, I have a break from school so I am diving into this ticket during my short weekend!

[2020-09-07 23:20] ajtran303 commented on #271
Here is a screenshot of what I came up with, what do you think? @ovlb

<img width="1143" alt="Screen Shot 2020-09-07 at 5 18 23 PM" src="https://user-images.githubusercontent.com/31839316/92420053-567c5580-f12e-11ea-915d-064bbec3bdb7.png">

[2020-09-07 23:21] ajtran303 commented on #271
Here is a screenshot of what I came up with, what do you think?  @tatianamac @ovlb

<img width="1143" alt="Screen Shot 2020-09-07 at 5 18 23 PM" src="https://user-images.githubusercontent.com/31839316/92420053-567c5580-f12e-11ea-915d-064bbec3bdb7.png">

[2020-09-07 23:58] ajtran303 commented on #271
It looks like someone put in a PR for this too but have a different approach to solve in #321

[2020-09-08 03:26] ajtran303 commented on #309
Hi, I will share this in my community as well.

[2020-09-08 14:01] kittensyzygy opened #325 "Relocate/adapt "Ways to help" section on mobile view"
On mobiles, it takes a number of scrolls in the UI before reaching the delicious dictionary definition content. Could the "Ways to help" section be adapted to allow the user to reach the definitions quicker and place the "Ways to help" (which might be relevant to a more niche number of the site users), e.g., at the bottom of the screen (with perhaps some quick links in the current location in the

[2020-09-08 14:27] kittensyzygy opened #326 "Expand definition of "Plural""
Could the definition of "[Plural](https://www.selfdefined.app/definitions/plural/)" be expanded, perhaps with usage examples? As a user unfamiliar with the current definition in _Self-Defined_, I don't feel I understanding it after having read the definition. "[Boogaloo](https://www.selfdefined.app/definitions/boogaloo/)", to take another definition in comparison, gives the word's 'original meanin

[2020-09-09 10:02] kittensyzygy opened #332 "Define "Black joy""
Resources:
- https://www.vogue.co.uk/arts-and-lifestyle/article/what-is-black-joy
- https://www.bbc.co.uk/ideas/videos/what-is-black-joy-and-why-do-we-need-it-in-our-liv/p07fwxvm

[2020-09-10 15:58] kittensyzygy opened #339 "Creating a Formatting Guide"
I had a play around today at making a potential formatting guide for the documentation section of the site. I'm new to GitHub, so I'm not sure what to do with it. Hopefully linking to it here will be a good start.

https://github.com/kittensyzygy/web-app/blob/patch-15/11ty/documentation/formatting-guide.md

[2020-09-10 15:59] kittensyzygy commented on #208
This might be related. I've opened an issue about creating a formatting guide.
https://github.com/selfdefined/web-app/issues/339

[2020-09-12 21:46] kittensyzygy commented on #326
I've seen since that "Plural" is an "also read" in the definition "[Dissociative Identity Disorde](https://www.selfdefined.app/definitions/dissociative-identity-disorder/)". Perhaps the "Plural" definition could reference DID.

[2020-09-21 13:50] Sarabadu commented on #317
Spanish(Argentina) es-AR

[2020-09-25 14:08] AutoSponge commented on #185
I had a coworker talk about this, "you do see color, you just may not use color to drive your feelings and outcomes, but then even that isn't true." I'd still like to get this into a PR but lack conviction about how to frame it.

[2020-10-04 14:32] Ryuno-Ki commented on #255
Thanks, that helped.

[2020-10-07 04:28] siawayforward commented on #82
Interested in the research/documentation aspect of this and would love to pair with a coder for thinking through how the information would appear. Already put out chirps in Slack. Also, point of clarification please - is the following statement of understanding correct?
This is unlike the [definition template](https://www.selfdefined.app/documentation/examples/flagged-word/) for how to define a wo

[2020-10-07 13:42] antistic opened #345 "Suggestion: Chav"
_Chav_ is a UK term referring to working class youth and is often used in a derogatory way, especially in the media.

Owen Jones wrote a book "Chavs: The Demonization of the Working Class" and wrote about it here: https://www.theguardian.com/books/2011/jun/08/chavs-demonization-owen-jones-review. Excerpts from that article:

[2020-10-07 16:11] martinheidegger opened #348 "l"

[2020-10-07 16:11] #348 closed, assigned to nobody

[2020-10-07 16:12] martinheidegger commented on #348
Sorry, didn't intend to submit an issue, but while I am here: it is an interesting app. Thank you for putting your effort in it.

[2020-10-07 20:14] NickColley opened #349 "Focus outline for links in 'Ways to help' box makes links difficult to read."
When tabbing into the 'Ways to help' box the contrast between the [focus outline and the text is too low at 2.57](https://contrast-ratio.com/#%23212121-on-%23ad3448
).

![Image of Ways to help box, shows a link highlighted with poor contrast](https://user-images.githubusercontent.com/2445413/95382027-eace0980-08e0-11eb-9f29-f8bf340df24e.png)

If we were to use the background colour of the box for

[2020-10-07 22:26] tatianamac commented on #349
@nickcolley  Thanks for submitting this issue. 🙏🏽

@ovlb Is this something that got overlooked into the light-dark mode PR? I felt like we went back and forth in the PR re: this very topic.

[2020-10-07 22:27] tatianamac commented on #345
Thanks for submitting this word, @ant-i-c-s. Is this a definition you'd like to submit a  pull request for?

[2020-10-08 06:50] ovlb commented on #349
Indeed, we went back and forth on this and @nickcolley sees there is not what is specified. The Firefox Accessibility Dev Tools report as follows:

<img width="234" alt="Screen Shot of the contrast ratio of a hovered/focused link inside the box. The ratio is reported with 10.47. being WAI AAA compliant" src="https://user-images.githubusercontent.com/7645967/95424213-9bb8c080-0942-11eb-9d71-ebfa9b8

[2020-10-08 08:57] NickColley commented on #349
I was on Linux, with Google Chrome, using Dark mode. It may be some weirdness with CSS Custom Properties perhaps. Hmm.

I believe there are similar issues with the light theme, they're actually much more severe.

<img width="237" alt="" src="https://user-images.githubusercontent.com/2445413/95437159-906a9280-094c-11eb-90e5-84497cb9146f.png">

Update: Seeing the issues on OSX Chrome and Firefox.

[2020-10-08 09:24] ovlb commented on #349
@nickcolley Hmm. `--clr-accent` resolves to `pink`, but [the values browsers implement are specced](https://www.w3.org/TR/2018/REC-css-color-3-20180619/#svg-color). Can you have a look into your browser dev tools and post to which values text and background resolve in the end?

Re light mode: Seeing this too. This slipped through our QA. 🙈  I’d say we need a darker shade of `pink` for the black bg

[2020-10-10 23:41] UdokaVrede commented on #313
I would make a pr on this

[2020-10-14 20:32] terrifricker opened #356 "Define "weaponize""
Resources:
https://slate.com/human-interest/2016/08/how-weaponize-became-a-political-cultural-and-internet-term-du-jour.html
https://www.macmillandictionary.com/us/dictionary/american/weaponize
https://dictionary.cambridge.org/us/dictionary/english/weaponize

[2020-10-15 19:36] tatianamac commented on #282
@ovlb I've moved all API-related issues to the [API repo](https://github.com/selfdefined/api). Not sure if that warrants closing this issue for you?

[2020-10-15 19:48] tatianamac opened #359 "Translations es_[ES|MX]"
¡Bienvenidos a todos!
If you would like to help translate existing words into Spanish, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.
2. Read our [Contributing Guidelines](https://github.com/selfdefined/web-app/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with your trans

[2020-10-15 21:38] tatianamac commented on #326
@kittensyzygy Definitely! All definitions can expand, particularly this one. For what it's worth, we want more definitions to be to the extent of Boogaloo, while recognising that definitions are a big and audacious task. So, sometimes we need shorter definitions to get started.

Good call on the 1:1 nature of the linking, though!

[2020-10-16 20:45] ovlb commented on #282
@tatianamac I wonder if it might make sense to keep this open as signpost towards the other repo?

[2020-10-18 11:05] panditita commented on #359
Hey @tatianamac, my friend @Augs0 and I will like to do some of these words if that's ok 💖

[2020-10-20 04:49] tkshill commented on #356
May I try this one?

[2020-10-20 20:30] tatianamac commented on #359
@panditita @augs0 I'd love that! Please add what terms are "in progress" here in the comments (so I can update the description above). Generally we try to have 1-2 people review each term. Please let me know if I can do anything else to support!

Update: I broke out es_AR as someone expressed interest in that and linked it above.

[2020-10-20 20:31] tatianamac commented on #356
@tkshill I'd love that! Someone started a [PR](https://github.com/selfdefined/web-app/pull/358), so perhaps you could provide feedback with the definition/resources here?

(Sorry the auto-linking didn't work!)

[2020-10-20 20:36] tatianamac opened #362 "Define "spooky""
tl;dr
"Spook" has racist origins so depending on context can carry those origins along as well:

Resources:
https://www.npr.org/sections/codeswitch/2017/10/24/559502238/this-halloween-what-does-it-mean-to-call-something-spooky
https://www.thoughtco.com/terms-many-dont-know-are-racist-2834522

[2020-10-20 20:50] tatianamac opened #363 "Translations es_AR"
¡Bienvenidos a todos!
If you would like to help translate existing words into Argentine Spanish, please:

1. See [selfdefined.app](selfdefined.app) for current and complete list of English-defined words.
2. Read our [Contributing Guidelines](https://github.com/selfdefined/web-app/blob/master/CONTRIBUTING.md).
3. Comment here what definition(s) you would like to define.
4. Open a pull request with

[2020-10-20 20:55] tatianamac commented on #317
@Sarabadu Hello! Added [es_AR](https://github.com/selfdefined/web-app/issues/363)! Reach out with any questions!

[2020-10-20 21:09] tatianamac opened #364 "Define "bummer""
In the UK, bummer can be considered a slang/colloquial derogatory term for a gay man.

I'm struggling to find reference to this beyond the [Urban Dictionary definition](https://www.urbandictionary.com/define.php?term=bummer), but have had many individuals verify this to be the case.

Other [indirect] resources:
https://www.etymonline.com/word/bummer
https://www.dictionary.com/browse/bummer?s=t

[2020-10-20 21:17] tatianamac commented on #339
Hi @kittensyzygy ! This is great! Would you mind pushing this up as a PR so I can provide written feedback? You could use one of the existing contributing guidelines pages as a template (the front-matter.md file, for example).

[2020-10-20 23:13] tatianamac commented on #208
@kittensyzygy Yes, definitely related! We could consider that almost a "subtask" of this one and adjust this description accordingly, as it's primarily focused on the markdown component of this.

[2020-10-21 02:07] tkshill commented on #356
I can do that

[2020-10-23 17:36] #279 closed, assigned to nobody

[2020-10-24 02:49] tkshill commented on #356
@tatianamac Added a comment to issue #358 providing a definition for `weaponize`. Not sure if I did it exactly right, but I tried to follow some of the examples in the contributing docs.

[2020-10-26 22:19] Primigenus commented on #318
Did you mean Dutch here? Or is the label wrong?

[2020-10-26 22:32] Primigenus opened #365 "Define "dumbfounded" & "dumbstruck""
Both of these build on the ableism inherent in "[dumb](https://www.selfdefined.app/definitions/dumb/)"
We could make these definitions children of that word.

Some alternatives:
astounded
awestruck
flabbergasted
nonplussed

Some quick research:
https://cishits.tumblr.com/post/79281810833/two-things-1-i-feel-like-ableist-language-is
https://www.quora.com/Do-you-know-when-you-are-using-derogatory-ab

[2020-11-07 00:28] #320 closed, assigned to nobody

[2020-11-11 21:39] tatianamac commented on #318
Ah, yes, I did—fixed. Thank you, @Primigenus ! Copypasta failed me 😂

[2020-11-17 01:57] tatianamac commented on #365
Thank you for submitting, @Primigenus ! One way we've handled this in the past is to create a "Related words" section, then broke down the "alternatives" section into noun/adjective, etc. Would you have capacity/be willing to open a PR for this sort of change? I would be happy to support.

[2020-11-17 01:58] tatianamac commented on #356
@tkshill You did perfectly!!! 🎉

[2020-11-24 22:00] #356 closed, assigned to nobody

[2020-11-26 00:49] #185 closed

[2020-12-01 02:18] tatianamac opened #374 "✍️ Clarify file-naming/slugs/titles in the docs"
It isn't immediately clear how definition links are created, so a bit more language around this would help folks, particularly as we start translating more and more words.

See #373 for more context that inspired this issue.

[2020-12-01 02:40] jaronheard opened #375 "Clarify language describing scope?"
This is such a cool project! ☺️ After reading through the project website, documentation, and issues, I *feel* the purpose and intent, but it's still a bit fuzzy when I try to clarify the scope.

I find the description on [the home page](https://github.com/selfdefined/web-app/blob/8c6a6ea74e05342b29b48a82b704a16ca7eddde9/11ty/index.njk) most helpful at describing the purpose, intent, and focus.

T

[2020-12-14 11:38] jaschaurbach opened #377 "Language Selector on Front Page"
This is a great project, so first I want to thank you!

I have the following language issue:

* Some definitions are not only in English but in French, German or other languages available. If there is a definition in another language is not possible to see from the front page.
* Non English speakers will not find the Definition in their language as they find not the entry. Example: Englisch "crazy

[2020-12-15 08:15] georgevthomas commented on #364
Hi @tatianamac as someone from UK, this usage definitely exists - though at least in my experience increasingly less often.

'Bummer' also exists in the (in my experience) more common usage of something being annoying, which is defined [here](https://dictionary.cambridge.org/dictionary/english/bummer), e.g. "I lost my keys, what a bummer!". Though interestingly, the Cambridge definition does inclu

[2020-12-15 23:10] tatianamac commented on #375
@jaronheard Thanks for bringing this up. This is actually a long-time ongoing project of mine, I'm just not able to dedicate quite focus on it yet.

To concisely answer your immediate questions:
- Unreal might be an anomaly and I don't remember why it came up.
- The dictionary started in English but it's not limited to it. There are and will continue to be words that don't necessarily translate ac

[2020-12-15 23:12] tatianamac commented on #377
@herrurbach Thanks for opening this issue! It's definitely something I'd like to have added, but we just don't have the infrastructural support to create this internationalisation yet.

We're starting with individual word translations as it's a lower barrier to entry. Long term, though, our hope is that the entire dictionary core is translated into those additional languages so that the user has a

[2020-12-15 23:26] tatianamac commented on #364
@georgevthomas Thanks for the clarifiers! I can't recall if you were in the Slack community, but we had some discussion around this word in particular, which is what inspired me opening up this issue. If you're not, I'm happy to share with you what was discussed!

Yes! I'd love if you did some research prioritising the perspecives of LGBTQIA+ folks.

[2020-12-20 21:22] alexwlchan opened #378 "Define "crutch""
I was reminded of this by [Tatiana's tweet about the word "limp"](https://twitter.com/TatianaTMac/status/1340766217154400256)

I don't have time to write a proper definition, but it might be a useful example of a metaphor you should be careful using.

Suggested reading:

- [Guest Ableist Word Profile: Crutch](http://disabledfeminists.com/2009/11/09/guest-ableist-word-profile-crutch/) by Sasha_feat

[2021-01-04 02:56] #269 closed, assigned to nobody

[2021-01-05 01:05] cyberspaceline opened #379 "Proposal: Vanilla Template for Codes of Conduct"
Hello! I'm new here, but am a big fan!

## Proposal
A page on the Self Defined App site that contains a template Code of Conduct for events and social spaces to modify and use.

## More Info
I'm writing a code of conduct for my new social web app and I referenced Self Defined App in it to point people toward a more comprehensive resource than I could fit in my document. I actually looked around Se

[2021-01-05 03:55] tatianamac commented on #379
Hi, @celinepark94 ! Thanks for thinking of this and opening an issue! I definitely think this is something that could make sense if there was a way that it tied into our objectives.

To make sure I'm understanding, are you proposing changing our existing [Code of Conduct](https://github.com/selfdefined/web-app/blob/prod/CODE-OF-CONDUCT.md) as well? Right now we are relying on the fairly standard C

[2021-01-07 19:21] cyberspaceline commented on #379
Ah! To be honest, I didn't see the Code of Conduct you had. I'm not proposed you change it, it looks good! I was looking for things specifically targeted at the broader community as the Contributor Covenant is very specifically for Open Source Contributors. I wonder if what I am actually looking for is a good resource on how to write and modify good Codes of Conducts for those of us starting commu

[2021-01-11 09:28] alisorru commented on #317
Hello! I would love to help with Italian :)

[2021-01-12 16:03] bnb opened #381 "Define "high brow" and "low brow""
Ref: https://twitter.com/MeltingSwans/status/1348715654950621184?s=20

They also clarified in a follow up tweet that they were referring to [this](https://www.stitcher.com/show/american-hysteria/episode/trash-talk-shows-80729813) podcast episode as the place they learned it from.

[2021-01-12 16:54] jtheory commented on #96
Hi,
I came here looking to help with bots, but it makes sense to clarify questions like this — plus get an API spec'd and underway — before putting real focus into bots.

Some relevant background: my partner is a fiction author & activist who grew up in Malaysia, lived in the US for > a decade, and we've lived in central France since 2006.
I grew up in NY; I've worked for a UK company for the past

[2021-01-12 22:21] tatianamac commented on #381
Thank you, @bnb ! 💙

[2021-01-13 01:30] jtheory opened #382 "Slack community invitation link on contributing guidelines page has expired"
Clicking the link to join the [Slack community](https://github.com/selfdefined/web-app/blob/prod/CONTRIBUTING.md#get-help) leads me to a page that reads "This link is no longer active".

Previous PR: #344

[2021-01-13 18:38] #241 closed, assigned to nobody

[2021-01-27 16:11] SeanKilleen opened #383 "Suggestion: include full text of r-word in order to better surface it"
Hi all,

I wanted to raise this here for consideration but I understand the trade-offs are important.

I encountered someone using the r-word. I thought it was a use case to provide a link to self-defined. I went to the web site and searched for the full term but found no results. I thought that was odd, so I began looking to quickly contribute a PR to ensure it existed. In searching for the full

[2021-02-10 20:20] tompace opened #384 "Suggestion: Citizen"
- "Citizen" - it is not inclusive language and is often used instead of Community Member, member of community, or resident.

[2021-02-23 11:48] kristicunga opened #385 "Define "Semitic""
**Adj.**

1. Related to languages, races, and culture of people who live or come from across part of western Asia and northern Africa. There are included Arabic, Hebrew, Aramaic and Amharic.
2. Mainly referred to as Arabic and Hebrew

_Arabic and Hebrew are the most spoken Semitic languages._

Sources:

* [Merriam-Webster Dictionary](https://www.merriam-webster.com/dictionary/Semitic)
* [Oxford Le

[2021-03-10 01:29] tatianamac commented on #385
Thanks for submitting this, @kristicunga ! Would you be interested in either writing the entry for it or providing feedback as an editor?

[2021-03-10 11:30] kristicunga commented on #385
Of course @tatianamac! It would be my pleasure 😀

[2021-03-31 23:18] vavroom opened #390 "Suggestion: Adding alternative word for the French version of "ableism""
The definition for "ableism" in French is marked as "[Capacitisme](https://www.selfdefined.app/definitions/fr_fr/capacitisme/)". This word is used primarily in Québec, as recommended by the [Office québécois de la langue française](http://gdt.oqlf.gouv.qc.ca/ficheOqlf.aspx?Id_Fiche=8362939).

However, in nearly the entire French speaking world, ableism is known as "validisme".

It is worth adding

[2021-04-01 02:10] tatianamac commented on #384
@tompace  Would you feel comfortable with either [1] drafting a definition of a word or [2] reading a draft as an editor?

[2021-04-01 02:13] tatianamac commented on #390
@vavroom : Ooh, this is a really interesting nuance that I did not know about!

If the only difference is the word (and not the context of the definition or the definition itself), then I would suggest:
[1] Update the Capacitisme definition to include a Note about validisme.
[2] Create a validisme.md entry and duplicate the information from Capacitisme with a note about Capacitisme.

If you're int

[2021-04-01 17:51] vavroom commented on #390
@tatianamac I'll create PRs following your suggestions. Thank you.

Might not be 'till next week because... Easter and family and all :)

[2021-04-07 16:53] tatianamac commented on #390
No rush. Thank you, @vavroom !

[2021-04-07 16:56] tatianamac opened #391 "Define 'sherpa'"
Sherpa is commonly misused to mean "expert", in particular in marketing. Sherpa is an ethnic group and using it to mean these synonyms is appropriative.

**Alternatives (n.):**
- aficionado
- consultant
- connoisseur
- expert
- professional
- specialist

Source:
https://qz.com/128842/the-problem-with-calling-your-career-coach-a-sherpa/

[2021-04-09 04:41] medecau opened #392 "Ampersand character rendered as raw HTML entity code"
On the _antisemitism_ definition page in the "_Further Reading_" section there are some links, one of which has an _ampersand_ character that is being rendered as an HTML entity code instead of the logogram that would be expected in an anchor text.

[2021-04-18 02:45] ajrezin commented on #237
the linked thread is no longer available! could you clarify?

[2021-04-18 18:59] alexwlchan commented on #220
Oh hey, it’s the ticket past!me created!

I’d throw another on this pile: “blind to”, e.g. “xe was blind to the issues with the design”. Consider a substitution like “oblivious”.

(And there’s probably some overlap with “deaf” as well, e.g. “the criticisms fell on deaf ears”.)

[2021-04-27 01:21] tatianamac opened #396 "♥️ Open call for contributions"
Place for folks to respond with interest, per this [tweet](https://twitter.com/TatianaTMac/status/1386851196879572996?s=20).

## **Where you can help**
✏️ **Writers and editors:** Craft drafts of definitions, preference for terms that impact you.
👓 **Sensitivity readers:** Read definitions and provide feedback for terms that impact you.
✅  **Project management:** Set milestones and tasks for proje

[2021-04-27 01:29] karloscarweber commented on #396
✋I’m interested in helping out. I’ll do any Front End development you need.

[2021-04-27 01:33] tatianamac commented on #396
@karloscarweber Amazing! Thank you! :) How would you feel about building a language toggle? One of our primary problems right now is we have translations for other languages, but do not yet have a way to surface all translations of one particular non-English language.

See:  #377 . I believe some work has been done on Eleventy in other projects to surface this functionality. I'd be happy to suppor

[2021-04-27 01:38] embarq commented on #396
Hi🤗
Would like to help with engineering. Can do frontend and backend development

[2021-04-27 01:42] Rahat-ch commented on #396
Would love to help - I can do frontend or backend development but would definitely like to dive into backend.

[2021-04-27 01:43] tatianamac commented on #396
@Rahat-ch Yay! Are you interested in architecting an API? Eventually we'd like the dictionary web app (what's live now) to be  served by our own API.

@embarq Do you have a preference as to where you dive in first?

[2021-04-27 01:43] angeliquejw commented on #396
I'm interested in helping out.

Things I can do and offer:
- front-end engineering tasks (my blog runs on Eleventy, so I have some familiarity) and I love things related to accessibility, CSS, design systems
- help new-to-open-source folks get set up on the project
- help with project organization, task management

(Not saying I have to be involved in all the things, just being adaptable in case y

[2021-04-27 01:46] tatianamac commented on #396
@angeliquejw Wow, thank you! Those are all very much-needed and helpful skills.

How do you feel about documentation? It bridges your knowledge of eleventy, desire to help new folks, and would really help onboarding. I'd love if someone could take the lead on enhancing our documentation (I'd be more than willing to support you on it since I am so embedded!)

[2021-04-27 01:49] carburo commented on #396
Hi! I can help with frontend tasks. Also, I'm a native Spanish speaker, so I may be able to help with translations. I have some previous experience as I'm a maintainer of the Spanish translation of the React Documentation.

[2021-04-27 01:50] angeliquejw commented on #396
Sounds great, @tatianamac. Is the [docs label](https://github.com/selfdefined/web-app/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Type+%C2%B7%C2%A0Documentation%22) a good place to start or do you have other things in mind?

[2021-04-27 01:51] embarq commented on #396
Don't really have any preference but can close front-end related issues faster

[2021-04-27 01:59] tatianamac commented on #396
Yes, absolutely! I tagged a couple more.

[2021-04-27 02:00] karloscarweber commented on #396
@tatianamac Will do. I'll go through good first issues first.

[2021-04-27 02:01] tatianamac commented on #396
Ooh! Perhaps you could try translating the full homepage into Spanish and think about how we can architect for multi-language (for example, what should the canonical URL be for the homepage in Spanish?)  Right now we have several definitions in Spanish floating around, but they could be unified if we could have the full front page be translated. Is that something that might interest you?

[2021-04-27 02:01] sohansubhash commented on #396
Hi, I'm new to contributing to open source. I would love to get some experience working on a design system. Where can I find the current design documentation/files?

[2021-04-27 02:02] Rahat-ch commented on #396
@tatianamac yes would love to help with the API!

[2021-04-27 02:15] meowwwls commented on #396
I would love to help with frontend tasks! I've had to take quite a bit of time away from coding for health issues so I am rusty and need to dust off the cobwebs, but would love to contribute in any way I can.

[2021-04-27 02:39] tatianamac commented on #396
Amazing! I think we got connected in the Discord. :)

[2021-04-27 02:40] tatianamac commented on #396
Totally understand the rustiness and no worries at all. Would you like help finding a task suited for you?

[2021-04-27 02:50] carburo commented on #396
Yes, that sounds great! I have no experience with 11ty, but I wonder if later on, we can search for an existing plugin or making something custom that might help organize and simplify translations.

~Off the top of my head the main things that may pose a maintainability issue:~
- ~Maintain links up to date to other language definitions~
- ~Prevent translations from becoming stale after an update i

[2021-04-27 03:01] #202 closed, assigned to wuz

[2021-04-27 03:01] meowwwls commented on #396
That would be wonderful if it's not too much trouble!

[2021-04-27 03:05] tatianamac commented on #396
@carburo Good thinking! And yes, getting the API sorted is my main priority to help address some of these downstream issues.

Would you be comfortable with me creating an issue for you specific to the Spanish-language translation we discussed? It might be a good start to get your familiar with Eleventy.

[2021-04-27 03:06] akulofficial commented on #396
Happy to write, edit, sensitivity read, do PM tasks, code (have experience with front and back end), translate (Spanish), do social media, and do community engagement (have decent amount of Discord experience) 😊

[2021-04-27 03:08] tatianamac commented on #396
@akulofficial Hello! I'd love your help with community management and PMing first (and so pleased to hear you're interestd in the things I'm most bad at!)! I've seen some pretty sophisticated Discords and I do not have those skills yet!

[2021-04-27 03:10] tatianamac commented on #396
No trouble at all! Would you feel comfortable with a task like this:
https://github.com/selfdefined/web-app/issues/52

When we surface the API, it'll likely influence this, but that's one isolated task option.

Otherwise, if you give me a sense of what types of tasks you enjoy, I can create one for you based on the long backlog of things in my brain 😅

[2021-04-27 03:14] carburo commented on #396
@tatianamac Yes, please. Go ahead!

[2021-04-27 03:19] GeekBoySupreme commented on #396
Hey @tatianamac,
I would love to help with the Design and Frontend side of things. Plus I speak Hindi and Bengali - if we ever decide to get to translation to Indian languages, can chip in.
Also can help with community moderation at times. And rn, can put in about 3-4 hours a week.

[2021-04-27 03:22] gudatcomputers commented on #396
@tatianamac - Definitely interested in helping with any engineering tasks you have. Can do both front and back, but probably stronger on backend/API side.

[2021-04-27 03:56] meowwwls commented on #396
I'd definitely love to try to tackle this one!

[2021-04-27 05:06] MahamSid commented on #396
Hi! I’d love to help with editing! And writing :)

[2021-04-27 07:01] rupertjeff commented on #396
I'm interested, too! I've posted in the Discord already, and I'm able to do front-end and backend/API work, including architecture and documentation. I can also do some light PM things, and I've got some minor Discord experience, too.

[2021-04-27 07:19] mpcsh commented on #391
In gaming communities - particularly around games that have "raids" (large-scale cooperative content) - "Sherpa" is also commonly misused to refer to a player who knows the mechanics well and teaches them to the rest of the group, guiding them through the raid.

I haven't seen any consensus on an alternative, though I've seen "raid carry", "raid teacher", and my (somewhat irreverent) personal favo

[2021-04-27 07:21] mpcsh commented on #382
We've moved to Discord! https://twitter.com/TatianaTMac/status/1386857716463796228?s=20

[2021-04-27 08:19] gorlanova commented on #396
Hi ! I would love to help out with front-end (more confident there) but never worked on open source projects before. I'm junior so I take this as a great opportunity to learn from peers

Also I'm french so I can help translating if needed :)

I'm joining the Discord right now

[2021-04-27 11:21] qrazi commented on #382
As far as I can tell PR #344 has been deployed, and the link mentioned in the initial post is updated to point to Discord. I think this issue can be closed now?

[2021-04-27 13:02] FelixTurtur commented on #396
Hi! I'm another full-stack dev that would love to help. I'm in working hours just now, so will check out the discord mentioned later on today (in the UK). I am happy to tackle annoying bugs / help others trying to overcome annoying bugs 🐛. I'm new to open source projects too.

[2021-04-27 13:56] greatislander commented on #396
👋🏻 Hi @tatianamac — I'm still keen to work through getting that Open Authoring PR landed and help with other things where I can.

[2021-04-27 13:59] tatianamac commented on #392
Thanks for reporting, @medecau! And thanks for picking this up, @qrazi !

[2021-04-27 14:00] tatianamac commented on #382
Yes, resolved! Thanks for reporting @jtheory and updating @mpcsh @qrazi !

[2021-04-27 14:00] #382 closed, assigned to nobody

[2021-04-27 14:28] vexx32 commented on #396
I don't know exactly how much I can help out, but I'll keep my eyes peeled for anything I can lend a hand on and give a shout in any issues I can take a stab at. Would love to help however I can 💖

[2021-04-27 14:39] martinlaws commented on #396
Hey @tatianamac - thank you for your leadership and continued work on this. Kudos to you for asking for help, it’s hard!

I’m a UX-minded FED with lots of bootcamp teaching experience. Totally happy to take on some FED tasks and super down to pair with anyone looking to learn/refresh their front-end and/or UX skills along the way ❤️

[2021-04-27 16:39] tatianamac commented on #392
Fixed by #397 .

[2021-04-27 16:39] #392 closed, assigned to nobody

[2021-04-27 16:59] askarileila commented on #396
Hi, I would love to help. I can help in translation to Persian (native) and Italian (almost fluent), documentation and some engneering tasks

[2021-04-27 20:23] embarq commented on #325
Hey, I'd like to propose to solve the issue with a spoiler-like widget. I prepared a little demo (design can be adjusted if it works for you):

![__ Screen Recording 2021-04-27 at 23 15 30 (2)](https://user-images.githubusercontent.com/12102334/116307832-79d43d80-a7af-11eb-934c-7e20de700627.gif)

[2021-04-27 23:42] tatianamac commented on #215
To provide more context:

I already fixed one of the two issues (the Further Reading is done). But the alt words could still use some love.

For the alt words, I'd like to list them more in an alphabetised column form like this:
[code]

Also ensuring that the `ul` are rendering as clear lists for users on many devices, including screenreaders.

[2021-04-28 00:02] tatianamac commented on #325
@embarq  I think this works well!

[2021-04-28 00:18] tatianamac commented on #383
@SeanKilleen Thanks for submitting this issue. I definitely think it's a valid one and one I've  been grappling with personally.

[2021-04-28 04:15] KMaragh commented on #396
Hey @tatianamac I would love to help on the engineering side. Would love to help with the api side of things!

[2021-04-28 07:54] kristicunga commented on #396
Hello 👋

I'd like to contribute to the writing, editing and design issues.

[2021-04-28 10:18] kristicunga opened #401 "Define "Militarisation""
**Noun.**

1. The process of giving access to guns, military equipment and special defence into a certain subject that generally is not related to the military. The transformation of a non-military subject into a military or a paramilitary subject.

*The militarisation of the police is a red flag for the democracy of a country.*

2. The act of sending an army into a country, a region or an area on

[2021-04-28 13:01] twalton83 commented on #396
Hi, I currently maintain a relatively large open source project, and moderate the associated discord server (and also manage our bot). Happy to help in that capacity, or with front end/engineering stuff.